<div class="switcher-control nojs-hidden" data-markdown-enabled>
<span class="switcher-option switcher-option-selected" data-enable-markdown {{#unless noaccesskeys}}title="{{{__ "accesskey" "m"}}}" accesskey="m"{{/unless}}><span class="fa fa-fw fa-check-circle spaced-icon switcher-selected-indicator"></span>{{{__ "markdown format"}}}</span><span class="switcher-option" data-enable-rte {{#unless noaccesskeys}}title="{{{__ "accesskey" ","}}}" accesskey=","{{/unless}}>{{{__ "rich text format"}}}</span>
</div>
