<div id="feed">
{{#each feedItems}}
<div id="review-{{this.id}}" class="feed-review">
{{> review review=this feed=true thingFeed=../thingFeed}}
</div>
{{#unless @last}}
<hr class="feed-separator">
{{/unless}}
{{/each}}
<p>
{{#if paginationURL}}
<a class="pagination-link no-print" href="{{paginationURL}}"><span class="fa fa-fw fa-angle-double-left">&nbsp;</span>{{{__ "older reviews"}}}</a>
{{/if}}
</div>
