<div id="{{input}}-help" class="help-text {{#unless nojsHidden}}nojs-visible{{/unless}}" data-help-for="{{input}}">
  <span class="help-heading"><span class="fa fa-question-circle info-icon spaced-icon"></span>{{{__ helpLabel}}}</span><p>
  {{{__ helpText}}}
</div>
