<form method="post" enctype="multipart/form-data" action="/thing/{{thing.id}}/upload">
<input type="hidden" value="{{csrfToken}}" name="_csrf">
<input type="file" name="media" multiple id="upload-input" accept="image/*,video/*,audio/*" class="hidden nojs-visible">
<label id="upload-label" for="upload-input" data-upload-count class="pure-button button-rounded nojs-hidden">
<span class="fa fa-file-image-o spaced-icon" id="upload-icon"></span><span id="upload-label-text">{{{__ "add media"}}}</span></label>
<button id="start-upload" class="pure-button pure-button-primary button-rounded" data-upload-check type="submit"><span class="fa fa-cloud-upload spaced-icon"></span>{{{__ "start upload"}}}</button>
</form>