Test form:

<form id="upload-form" enctype="multipart/form-data">
  <input type="file" id="file-input" name="files" multiple>
  desc
  <input type="text" name="description">
  ownwork
  <input type="checkbox" name="ownwork" value="true">
  author
  <input type="text" name="author">
  source
  <input type="text" name="source">
  license
  <input type="text" name="license">
  language
  <input type="text" name="language">
  <button id="start-upload">Start upload</button>
</form>
