<h1 id="page-header">{{{__ titleKey (link teamURL titleParam)}}}</h1>
<ul class="team-member-list">
{{#each team.members}}
<li> {{{userLink this}}}
{{#if (lookup ../moderators this.id)}}<span class="user-team-badge">{{{__ "moderator badge"}}}{{/if}}</span>
{{#if (lookup ../founder this.id)}}<span class="user-team-badge">{{{__ "founder badge"}}}{{/if}}</span>
{{/each}}
</ul>
