<div class="team-list">
{{#each teams}}
<b><a href='/team/{{this.id}}'>{{{mlString this.name}}}</a></b><br>
<i>{{{mlString this.motto false}}}</i>
<p>
{{{mlString this.description.html false}}}
<p>
{{#unless @last}}
<hr class="feed-separator">
{{/unless}}
{{/each}}
</div>
