<div class="long-text">
<h1 id="page-header">Oftaj demandoj</h1>

<h2 id="why">Kial lib.reviews?</h2>

Ni kredas, ke la informo, kiun ni uzas por decidi -- pri kiun libron legi, kie resti aŭ kiun vendaĵon aĉeti -- estos plialtkvalita se ni organizas ĝin travideble, pere de malferma komunumo. Ni aplikas principojn de projektoj kiel Vikipedio kaj OpenStreetMap: malferma kodaro, libera permesigo de ĉiu enhavo kaj senprofitceleco.
<p>
Tio ankaŭ permesas nin kunlabori kun tiuj kaj aliaj projektoj por kolekti kaj organizi liberanj kaj malfermajn metadatumojn pri firmaoj, produktoj, kaj tiel plu.
<p>
<h2 id="quality">Kiel vi garantias kvaliton en la recenzoj?</h2>

Dumtempe, ni petas, ke uzontoj klopodu akiri invitkodon antaŭ enregistriĝi. Tio estas rekta maniero por kontroli kreskadon kaj kompreni pri kiu invitas novajn uzantojn al la retejo, pro ke ni atentu pri kvalito dum ni kreskas kaj tiel evitas tro da spamo tiom frue.
<p>
Laŭtempe, ni havas kelkajn ideojn por bonteni/plialtigi kvaliton:
<ul>
<li>Teamoj estas vojo por samideanoj kunlabori. Vi povas elekti sekvi nur recenzojn de specifa teamo, kiu donas "kvalitan lenson", ĉar ĉia teamo povas krei siajn proprajn kondukto-regulojn.
<li>Ni povus enmeti supren- aŭ suben-voĉdonadon, manierojn elstarigi recenzojn de uzantoj, fidindaj de vi, travideblajn poentajn algoritmojn aŭ komunumajn interparolajn ilojn por identigi la plej bonajn recenzojn pri ia temo.
<li>Eble ni invitu kunlaborantojn, kiuj estas bonkonate spertuloj en siaj kampoj (ekz., aŭto-recenzoj).
</ul>

Ĉu vi havas ideon? Vi povas kunhavigi ĝin en nia IRC-kanalo (#lib.reviews ĉe irc.libera.chat).
<p>
<h2 id="spam">Kiel vi eltrovas/evitas pagitajn recenzojn?</h2>

Ne eblas garantii, ke uzanto ne estis pagita iel pro recenzo verkita interreta. Pro tio, ni ne tute malpermesas ĝin, sed bonvole atentu, ke esplorado eltrovas, ke eĉ malgrandaj stimuloj kiel produktaj donacaĵon klinas <a href="http://reviewmeta.com/blog/analysis-of-7-million-amazon-reviews-customers-who-receive-free-or-discounted-item-much-more-likely-to-write-positive-review/">recenzo-rezultojn favoreme</a>. Ni ne permesas mempropagando kaj ni postulas, ke niaj uzantoj klare malkaŝu intereskonfliktojn en la recenzo. Tio signifas, ke vi devos indiki ĉu vi esperas ricevi aŭ ricevis ian favoraĵon (inkluzivante produktaj donacaĵoj). Ne akcepteblas de ni se uzantoj verkas recenzojn, en kiuj la opinio estis antaŭfiksita de aliulo, kiu ofertis favoraĵon, kaj ni forbaros uzantojn pro tio.
<p>
Ĝeneralsence, ni volas kreskigi komunumon kie uzantoj ekkonas unu la alian, renkontas unu la alian vizaĝ-al-vizaĝe kaj memorganizas por malkaŝi kvalitproblemojn. Teknologio, kiel antaŭmenciite estas parto de tiu solvo, sed interparolo kaj regularo estas egale gravaj. Ni stimulas vin aliĝi al nia <a href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">komunuma dissendo-listo</a> por helpi nin pensi pri tiuj kaj aliaj problemoj.

<h2 id="language">Kiel mi povas krei version de lib.reviews en mia lingvo?</h2>

Ni uzas <a href="https://translatewiki.net/">translatewiki.net</a> kiel platformo por tradukado de la uzanta interfaco. TranslateWiki evoluis flanke de Vikipedio por subteni la tradukadon de la uzanta interfaco de Vikipedio kaj siaj frataj projektoj al multaj lingvoj, kaj oni nun estas uzita de aliaj malfermkodaj projektoj ankaŭ. Ĝi mem estas tute malfermkoda.
<p>
Vi povas kontroli la progreson de malsamaj lingvaj versioj <a href="https://translatewiki.net/w/i.php?title=Special%3AMessageGroupStats&x=D&group=lib.reviews&suppressempty=1">ĉi tie</a>. Se vi estas novulo ĉe translatewiki.net, post via enregistriĝo, ĝi petos de vi 20 etaj ekzemplaj tradukoj. Tio estas pro ke vi provu, ke vi scias kion vi faras; ĝi daŭras ĉirkau 10 minutoj. Post via konto-aprobo, vizitu <a href="https://translatewiki.net/wiki/Special:Translate?group=lib.reviews">ĉi tiu paĝo</a> kaj elektu la lingvon al kiu vi tradukos, en la supra dekstra angulo.
<p>
Lingvoj estas ŝaltataj post kelkaj tagoj post ĝia 100%-plenumo. La ĝisdatigoj okazas ĝenerale dufoje po semajne.
<p>
Paĝoj kiel ĉi tiu estas tenataj <a href="https://github.com/eloquence/lib.reviews/tree/master/views/multilingual">ĉe GitHub</a> kaj vi povas krei novan lingvoversion <a href="https://help.github.com/articles/creating-a-pull-request/">kreante "pull request"</a>. Trovu nin ĉe IRC (#lib.reviews ĉe irc.libera.chat) se vi bezonas helpon.

<h2 id="license">Kial estas la kodaro sub CC-0 kaj ne alia kutima malferma permesilo?</h2>

CC-0 estas jure la pli sekura vojo enmeti ia enhavo (tekto, bildo, kodaro, ktp) en la publika havaĵaro en maniero agnoskita de internacia leĝaro. Ĉar ni ne volas jure eldevigi iun ajn pro kiu oni faras kun la kodaro de lib.reviews, permesilo, kiu donas al plu-uzantoj maksimuman liberecon kun minumuma froto ŝajnis bonan elekton. Memoru, tamen, ke la kodaro de lib.reviews dependas je sendependaj bibliotekoj permesitaj sub malsamaj malfermaj permesiloj.

<h2 id="why">Kiel lib.reviews sinsubtenas? Ĉu estas merkatika plano?</h2>

Dume, la uloj laborante ĉe lib.reviews estas ĉiuj volontuloj, kiuj laboras en la projekto senpage, dum siaj libertempoj. Se kaj kiam ni atingas momenton, kiam ni sentas, ke la projekto estas sufiĉe matura kaj uzinda por motivigi publikan helpo-peton, ni verŝajne aldonos donaco-ligilojn kaj ni kreos juraj iloj por imposto-depreno. Se vi volas helpi la projekton grandmaniere antaŭ tiam (sciante, ke ĝi ĉiam estos senprofitcela kaj senpropaganda), sentu libera por kontakti projekto-kreinto Erik Moeller per eloquence ĈE gmail PUNKTO com.

<h2 id="freeyourstuff">Kio estas la rilato inter lib.reviews kaj freeyourstuff.cc?</h2>

<a href="https://freeyourstuff.cc/">freeyourstuff.cc</a> estas retumila etendaĵo farita de Erik Moeller kiu permesas vin elporti recenzojn kaj aliajn kontribuaĵojn, kiujn vi faris al malliberaj retejoj kiel <a href="http://www.imdb.com/">IMDB</a> kaj <a href="https://www.yelp.com/">Yelp</a>. Laŭvole, vi ankaŭ povas eldoni tiujn kontribuaĵojn sub libera permesilo en la retejo freeyourstuff.cc, permesante iun ajn reuzi ilin. Estonte, ni volas faciligi enporton de kontribuaĵojn al lib.reviews pere de tiu etendaĵo, sed intertempe ne estas rekta rilato inter la du projektoj.
</div>
