<div class="long-text">
  <h1 id="page-header">Frequently Asked Questions<br>(häufig gestellte Fragen)</h1>
  <h2 id="why"><span class="mw-headline" id="Warum_lib.reviews?">Warum lib.reviews?</span></h2>
  <p>Wir glauben, dass die Informationen, die wir für Entscheidungen verwenden – welches Buch man lesen, an welchem Ort man bleiben oder welches Produkt man kaufen soll – eine höhere Qualität haben werden, wenn wir sie durch eine offene Gemeinschaft transparent
    organisieren. Wir wenden einige der Prinzipien an, die Projekte wie Wikipedia und OpenStreetMap vorgemacht haben: Eine Open-Source-Codebasis, eine offene Lizenzierung des gesamten Inhalts und keine Profitabsicht. Dies erlaubt uns, mit diesen und anderen
    vorhandenen Projekten zusammenzuarbeiten, um freie und offene Metadaten über Unternehmen, Produkte usw. zu sammeln und zu organisieren. </p>
  <div id="Wie_stellt_ihr_die_Qualit.C3.A4t_der_Rezensionen_sicher.3F"></div>
  <h2 id="quality"><span class="mw-headline" id="Wie_stellt_ihr_die_Qualität_der_Rezensionen_sicher?">Wie stellt ihr die Qualität der Rezensionen sicher?</span></h2>
  <p>Derzeit müssen neue Nutzerinnen vor der Registrierung einen Einladungslink anfordern. Dies ist ein einfacher Weg, um das Wachstum zu kontrollieren und um zu verstehen, wer neue Nutzer auf diese Website verweist. So können wir ein Auge auf die Qualität
    behalten und Spam vermeiden. </p>
  <p>Wir haben einige Ideen zur Aufrechterhaltung und Verbesserung der Qualität im Laufe der Zeit: </p>
  <ul>
    <li> Teams sind ein Weg für Nutzer, die ein Interesse gemeinsam haben, zusammen zu arbeiten. Du kannst auswählen, nur Rezensionen von einem angegebenen Team zu folgen. Das stellt eine Art „Qualitätslinse“ dar, da jedes Team seine eigenen Teilnahmeregeln
      entwickeln kann.</li>
    <li> Wir könnten Upvotes und Downvotes einführen, Wege zur Hervorhebung von Rezensionen von Nutzern, denen du vertraust, transparente Bewertungsalgorithmen oder Diskussionswerkzeuge, um die besten Rezensionen zu einem angegebenen Thema zu identifizieren.</li>
    <li> Wir könnten Partnerschaften mit Gruppen und Personen beginnen, die eine Erfolgsgeschichte von angewandter Kompetenz für einen spezifischen Bereich haben (z.&#160;B. Rezensionen von Autos).</li>
  </ul>
  <p>Hast du eine Idee? Teile sie uns bitte auf unserem IRC-Channel (<a rel="nofollow" class="external text" href="https://matrix.to/#/#lib.reviews:matrix.org">#lib.reviews auf irc.freenode.net</a>) oder über unsere <a rel="nofollow" class="external text"
      href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">Mailingliste</a> mit! </p>
  <div id="Wie_entdeckt_und_verhindert_ihr_bezahlte_Rezensionen.3F"></div>
  <h2 id="spam"><span class="mw-headline" id="Wie_entdeckt_und_verhindert_ihr_bezahlte_Rezensionen?">Wie entdeckt und verhindert ihr bezahlte Rezensionen?</span></h2>
  <p>Wir können nicht garantieren, dass eine Nutzerin für eine Rezension, die sie im Internet geschrieben hat, nicht in irgendeiner Weise vergütet wurde. Aus diesem Grund verbieten wir es nicht vollständig. Studien haben allerdings gezeigt, dass selbst kleine
    Anreize wie Produktproben <a rel="nofollow" class="external text" href="https://reviewmeta.com/blog/analysis-of-7-million-amazon-reviews-customers-who-receive-free-or-discounted-item-much-more-likely-to-write-positive-review/">Rezensionsergebnisse beeinflussen</a>    können. Wir erlauben keine Eigenwerbung und wir fordern, dass Nutzer in ihrer Rezension klar Interessenskonflikte offenlegen. Das bedeutet, dass du auf jede Form einer Vergütung hinweisen musst, die du erwartest oder erhalten hast (inklusive Produktproben).
    Für Nutzer ist es nicht akzeptabel, Rezensionen zu verfassen, bei denen die Meinung des Rezensenten durch eine dritte Partei gegen eine Vergütung vorbestimmt wurde. Wir werden Nutzer in diesem Fall sperren. </p>
  <p>Generell möchten wir eine Gemeinschaft aufbauen, in der Nutzer anfangen, sich einander kennenzulernen, sich persönlich zu treffen und sich selbst zu organisieren, um Qualitätsprobleme aufzudecken. Die oben genannte Technologie ist Teil von dem, aber
    Gespräche und Richtlinien sind ebenfalls wichtig. Wir ermutigen dich, <a rel="nofollow" class="external text" href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">unserer Gemeinschafts-Mailingliste beizutreten</a>, um uns beim Durchdenken
    dieser und anderer Probleme zu helfen. </p>
  <div id="Wie_erstelle_ich_eine_Version_von_lib.reviews_in_meiner_Sprache.3F"></div>
  <h2 id="language"><span class="mw-headline" id="Wie_erstelle_ich_eine_Version_von_lib.reviews_in_meiner_Sprache?">Wie erstelle ich eine Version von lib.reviews in meiner Sprache?</span></h2>
  <p>Wir nutzen <a rel="nofollow" class="external text" href="https://translatewiki.net/">translatewiki.net</a> als Plattform zur Übersetzung der Benutzeroberfläche. Das TranslateWiki hat sich neben Wikipedia entwickelt, um die Übersetzung der Benutzeroberfläche
    von Wikipedia und seiner Schwesterprojekte in viele Sprachen zu unterstützen und wird jetzt auch von anderen Open-Source-Projekten verwendet. Es ist selbst vollständig quelloffen. </p>
  <p>Du kannst den Fortschritt der unterschiedlichen Sprachversionen <a rel="nofollow" class="external text" href="https://translatewiki.net/w/i.php?title=Special:MessageGroupStats&amp;x=D&amp;group=lib.reviews&amp;suppressempty=1">hier</a> ansehen. Falls
    du neu auf translatewiki.net bist, wirst du nach der Registrierung aufgefordert, 20 kleine Beispielübersetzungen durchzuführen. Dies ist eine Art erweiterter „Beweise-dass-du-weißt-was-du-tust-Test“. Er dauert ungefähr 10 Minuten. Sobald dein Benutzerkonto
    bestätigt ist, besuche <a rel="nofollow" class="external text" href="https://translatewiki.net/wiki/Special:Translate?group=lib.reviews">diese Seite</a> und wähle in der rechten oberen Ecke die Sprache aus, in die du übersetzt. </p>
  <p>Sprachen werden innerhalb weniger Tage aktiviert, wenn sie zu 100&#160;% vollständig sind. Aktualisierungen werden typischerweise zweimal pro Woche synchronisiert. </p>
  <p>Seiten wie diese werden auch über TranslateWiki verwaltet und übersetzt, siehe <a rel="nofollow" class="external text" href="https://translatewiki.net/wiki/Translating:Lib.reviews#Content_pages">diese Seite</a> für weitere Informationen. </p>
  <div id="Warum_ist_der_Code_unter_CC-0_und_nicht_unter_einer_herk.C3.B6mmlichen_Open-Source-Lizenz.3F"></div>
  <h2 id="license"><span class="mw-headline" id="Warum_ist_der_Code_unter_CC-0_und_nicht_unter_einer_herkömmlichen_Open-Source-Lizenz?">Warum ist der Code unter CC-0 und nicht unter einer herkömmlichen Open-Source-Lizenz?</span></h2>
  <p><a rel="nofollow" class="external text" href="https://creativecommons.org/publicdomain/zero/1.0/">CC-0</a> ist der rechtlich sicherste Weg, jegliche Inhalte (Texte, Bilder, Code usw.) unter Gemeinfreiheit auf eine Weise bereitzustellen, die einer Überprüfung
    unter internationalem Recht standhält. Da wir nicht die Absicht haben, Rechtsansprüche gegen jeden durchzusetzen, der mit der Codebasis von lib.reviews zu tun hat, ist wohl eine Lizenz, die Weiternutzern die maximale Freiheit mit wenigen Streitigkeiten
    gibt, eine vernünftige Wahl. Behalte im Gedächtnis, dass die lib.reviews-Codebasis von Drittparteibibliotheken abhängt, die unter verschiedenen Open-Source-Lizenzen veröffentlicht wurden. </p>
  <div id="Wie_erh.C3.A4lt_sich_lib.reviews_selbst.3F_Gibt_es_einen_Businessplan.3F"></div>
  <h2 id="money"><span class="mw-headline" id="Wie_erhält_sich_lib.reviews_selbst?_Gibt_es_einen_Businessplan?">Wie erhält sich lib.reviews selbst? Gibt es einen Businessplan?</span></h2>
  <p>Derzeit sind Menschen, die an lib.reviews arbeiten, alle Freiwillige, die in ihrer Freizeit am Projekt ohne Bezahlung arbeiten. Wenn wir die Schwelle erreicht haben, an der wir glauben, dass das Projekt ausreichend ausgereift und nützlich ist, um um
    öffentliche Unterstützung zu bitten, werden wir mit der Ergänzung von Links für Spenden beginnen und einen rechtlichen Mechanismus für eine steuerliche Absetzbarkeit aufsetzen. Falls du das Projekt bereits vorher auf bedeutsame Weise unterstützen
    möchtest (die Realisierung wird immer werbefrei und ohne Profit sein), zögere nicht, den Projektgründer Erik Moeller unter eloquence AT gmail DOT com zu kontaktieren. </p>
  <div id="Was_ist_die_Verbindung_zwischen_lib.reviews_und_freeyourstuff.cc.3F"></div>
  <h2 id="freeyourstuff"><span class="mw-headline" id="Was_ist_die_Verbindung_zwischen_lib.reviews_und_freeyourstuff.cc?">Was ist die Verbindung zwischen lib.reviews und freeyourstuff.cc?</span></h2>
  <p><a rel="nofollow" class="external text" href="https://freeyourstuff.cc/">freeyourstuff.cc</a> ist eine Browsererweiterung, die von Erik Moeller entwickelt wurde, mit der du Rezensionen und andere Beiträge exportieren kannst, die du auf proprietären
    Websites wie der <a rel="nofollow" class="external text" href="http://www.imdb.com/">IMDB</a> und <a rel="nofollow" class="external text" href="https://www.yelp.com/">Yelp</a> durchgeführt hast. Optional kannst du auch diese Beiträge unter einer freien
    Lizenz auf der Website freeyourstuff.cc veröffentlichen, die es jedem erlaubt, diese weiterzunutzen. Langfristig wollen wir es einfach machen, mithilfe der Erweiterung Beiträge in lib.reviews zu importieren, aber derzeit gibt es noch keine direkte
    Schnittstelle zwischen den zwei Projekten. </p>
</div>
