<div class="long-text">
<h1 id="page-header">Perguntas Frequentes</h1>

<h2 id="why">Por quê lib.reviews?</h2>

Acreditamos que a informação que usamos para tomar decisões -- sobre qual livro ler, qual local visitar ou qual produto comprar -- terá maior qualidade se nós a organizarmos com transparência, com uma comunidade aberta. Aplicamos alguns dos princípios pioneiros de projetos como a Wikipédia e o OpenStreetMap: uma base de código aberto, licenciamento livre de todo o conteúdo, e nenhuma motivação atrás de lucro.
<p>
Isto também nos permite colaborar com estes e outros projetos para coletar e organizar metadados livres e abertos sobre negócios, produtos e outros.
<p>
<h2 id="quality">Como vocês garantem a qualidade das resenhas?</h2>

Por enquanto, pedimos aos usuários que passem pelo obstáculo de arranjar um código de convite antes de se registrarem. Esse é um jeito simples de controlar o crescimento e entender quem está trazendo novos usuários para o site, para que possamos estar atentos quanto a qualidade à medida que crescemos e para que evitemos spam demais inicialmente.
<p>
Com o tempo, temos algumas ideias para manter/aumentar a qualidade:
<ul>
<li>Equipes são uma maneira para que usuários com interesses em comum colaborem. Você pode escolher seguir apenas resenhas de uma certa equipe, o que acaba criando uma "bolha de qualidade", já que cada equipe tem suas próprias regras.
<li>Nós podemos introduzir sistemas de votação, maneiras de destacar resenhas de usuários que tenham a sua confiança, algoritmos de pontuação transparentes ou ferramentas para discussão em comunidade para identificar as melhores resenhas sobre determinado tópico.
<li>Podemos convidar colaboração com grupos e indivíduos que têm histórico de notório conhecimento em certo domínio (por exemplo: resenhas sobre automóveis).
</ul>

Tem uma ideia? Por que não compartilhá-la no nosso canal IRC (#lib.reviews em irc.libera.chat)?
<p>
<h2 id="spam">Como vocês detectam/evitam resenhas pagas?</h2>

Não há como garantir que um usuário não foi recompensado de alguma maneira por uma resenha que ele escreve na Internet. Nós não proibimos essa conduta totalmente, mas por favor tenha ciência de que mesmo pequenos incentivos como amostras grátis tendem a <a href="http://reviewmeta.com/blog/analysis-of-7-million-amazon-reviews-customers-who-receive-free-or-discounted-item-much-more-likely-to-write-positive-review/">influenciar opiniões em resenhas</a>. Não permitimos autopromoção, e pedimos para que os usuários deixem claro qualquer conflito de interesse. Isso significa que você deve mencionar qualquer tipo de compensação que você recebeu ou deve receber (incluindo amostras de produtos). É inaceitável que usuários escrevam resenhas cujas opiniões tenham sido predeterminadas por um terceiro que ofereceu compensação, e bloquearemos usuários que engajarem nesta conduta.
<p>
No geral, queremos criar uma comunidade onde usuários começam a se conhecer, se encontram face-a-face e se auto-organizam para descobrir problemas de qualidade. Tecnologia, como mencionado acima, é parte disso, mas conversas e políticas são ferramentas igualmente importantes. Nós encorajamos que você visite nossa <a href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">lista de discussão comunitária</a> para nos ajudar a pensar sobre este e outros temas.

<h2 id="language">Como posso criar uma versão do lib.reviews no meu idioma?</h2>

Usamos <a href="https://translatewiki.net/">translatewiki.net</a> como uma plataforma para tradução da interface de usuário. O TranslateWiki evoluiu ao lado da Wikipédia para apoiar a tradução da interface de usuário da própria Wikipédia e seus projetos irmãos para vários idiomas, e hoje é usado por outros projetos de código aberto também. A plataforma em si tem o código totalmente aberto.
<p>
Você pode ver o progresso de diferentes versões de idiomas <a href="https://translatewiki.net/w/i.php?title=Special%3AMessageGroupStats&x=D&group=lib.reviews&suppressempty=1">aqui</a>. Se você for novo no translatewiki.net, após o registro, ele vai te pedir para fazer 20 pequenas traduções como exemplo. É como se fosse uma prova para ter certeza que você sabe o que está fazendo, e leva uns 10 minutos. Depois que sua conta for aprovada, visite <a href="https://translatewiki.net/wiki/Special:Translate?group=lib.reviews">esta página</a> e escolha o idioma para o qual você vai traduzir no no canto superior direito.
<p>
Os idiomas são habilitados em poucos dias após serem 100% traduzidos. Atualizações geralmente ocorrem duas vezes por semana.
<p>
Páginas como essa são mantidas <a href="https://github.com/eloquence/lib.reviews/tree/master/views/multilingual">no GitHub</a>, e você pode criar uma nova versão linguística <a href="https://help.github.com/articles/creating-a-pull-request/">fazendo um pull request</a>. Encontre-nos no IRC (#lib.reviews em irc.libera.chat) se precisar de ajuda.

<h2 id="license">Por quê o código está sob CC-0 e não outra licença convencional de código aberto?</h2>

CC-0 é a rota mais juridicamente segura para inserir qualquer conteúdo (texto, imagem, código etc) no domínio público de forma que respeite as leis internacionais. Já que não temos a intenção de aplicar reivindicações legais contra ninguém pelo que fizerem com o código do lib.reviews, uma licença que dá máxima liberdade para reutilizadores com mínimo atrito. Lembre-se ainda que a base de código do lib.reviews depende de bibliotecas de terceiros publicadas sob diversas licenças abertas.

<h2 id="why">Como o lib.reviews se sustenta? Existe um plano de negócios?</h2>

Por enquanto, as pessoas trabalhando no lib.reviews são todos voluntários que trabalham no projeto sem pagamento, em seu tempo livre. Se e quando chegarmos ao ponto em que o projeto pareça ser suficientemente maduro e que pareça justificável pedir apoio público, provavelmente começaremos a adicionar links de doação e criar mecanismos jurídicos para dedução de impostos. Se você gostaria de apoiar o projeto de forma substancial antes disso (sabendo que sempre será livre de anúncios e sem fins lucrativos), sinta-se livre para entrar em contato com o fundador do projeto Erik Moeller via eloquence ARROBA gmail PONTO com.

<h2 id="freeyourstuff">Qual é a relação entre lib.reviews e freeyourstuff.cc?</h2>

<a href="https://freeyourstuff.cc/">freeyourstuff.cc</a> é um complemento para navegadores desenvolvido por Erik Moeller que permite que você exporte resenhas e outras contribuições feita a sites proprietários como <a href="http://www.imdb.com/">IMDB</a> e <a href="https://www.yelp.com/">Yelp</a>. Opcionalmente, você também pode publicar estas contribuições sob uma licença livre no site freeyourstuff.cc, assim permitindo que qualquer um possa reusar. No longo prazo, queremos facilitar a importação de contribuições ao lib.reviews por meio do complemento, mas por enquanto não há uma interface direta entre os dois projetos.
</div>
