<div class="long-text">
  <h1 id="page-header">經常問的問題</h1>
  <h2 id="why"><span class="mw-headline" id="為何要用_lib.reviews？">為何要用 lib.reviews？</span></h2>
  <p>我們都會相信讓我們用來做出抉擇的訊息 -- 像是該讀哪本書、應該停留在哪個地點、或是該買哪種產品 -- 如果我們以透明化組織；透過開放社群，將會讓這些訊息有更高可信度。我們套用像是維基百科、開放街圖這些先行專案當中的原則：開放原始碼、開放所有內容的許可，以及不以獲取利潤為目標的動機。 這能允許讓我們與其它現有專案彼此合作；來做出收集、自由組織、開放有關於企業或產品這些項目的中介資料。 </p>
  <div id=".E4.BD.A0.E5.80.91.E6.98.AF.E5.A6.82.E4.BD.95.E7.A2.BA.E4.BF.9D.E8.A9.95.E8.AB.96.E5.85.A7.E5.AE.B9.E7.9A.84.E5.93.81.E8.B3.AA.EF.BC.9F"></div>
  <h2 id="quality"><span class="mw-headline" id="你們是如何確保評論內容的品質？">你們是如何確保評論內容的品質？</span></h2>
  <p>對於此點，我們要求使用者在註冊之前；必須先通過邀請連結步驟。這是個用來控制使用者成長；以及了解是誰推薦新使用者到我們網站的簡明方式，因此我們可以隨著網站成長來保持關注在內容品質上，避免一開始就被垃圾訊息給淹沒。 我們隨著時間整理出一些用在維護/提高品質方面的想法： </p>
  <ul>
    <li> 團隊是讓使用者來協作分享興趣的方式。因為任一團隊都能提供所屬的參與規則，您可以選擇僅關注有確保文章品質的特定團隊所寫評論。</li>
    <li> 我們會試著引入「喜歡/不喜歡」；一種用來強調出您所信任使用者之評論的方式、或是透明評分算法，以及社群對話工具來驗證出特定主題裡的最佳評論。</li>
    <li> 我們會試著邀請在特定領域裡有運用出專門知識跡象的團隊與個人來進行協作（例如：汽車方面的評論）。</li>
  </ul>
  <p>您有其它有趣的點子嗎？何不分享到我們的 IRC 頻道（<a rel="nofollow" class="external text" href="https://matrix.to/#/#lib.reviews:matrix.org">#lib.reviews on irc.freenode.net</a>）或經由我們的<a rel="nofollow" class="external text" href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">電子郵件清單</a>？
    </p>
  <div id=".E4.BD.A0.E5.80.91.E6.98.AF.E5.A6.82.E4.BD.95.E5.81.B5.E5.AF.9F.E5.88.B0.2F.E9.A0.90.E9.98.B2.E5.85.A7.E5.AE.B9.E6.98.AF.E6.A5.AD.E9.85.8D.E6.96.87.E7.9A.84.E8.A9.95.E8.AB.96.EF.BC.9F"></div>
  <h2 id="spam"><span class="mw-headline" id="你們是如何偵察到/預防內容是業配文的評論？">你們是如何偵察到/預防內容是業配文的評論？</span></h2>
  <p>沒有絕對的方法；可以確保使用者在網路上編寫的評論在私底下不會獲得報酬。就於此原因我們不會採取禁止，但請注意有研究顯示出即使是像產品樣本這般的小激勵都會造成<a rel="nofollow" class="external text" href="https://reviewmeta.com/blog/analysis-of-7-million-amazon-reviews-customers-who-receive-free-or-discounted-item-much-more-likely-to-write-positive-review/">偏頗評論內容</a>。我們不允許自我宣傳，因此我們要求使用者在評論裡清楚指出利益衝突。這代表著您必須提出任何形式上您會收到的報酬（包含產品樣本）。我們不接受讓使用者編寫評論時；評論者看法是基於第三方有先給予報酬的情況，當使用者做出此行為我們會對帳號封鎖。
    </p>
  <p>通常；我們會建立社群來讓使用者與對方互相認識、會面、自我組織，並揭露品質上的問題。技術方面雖是上述所提的部份之一，但對談與方針的部份也是同樣重要。我們鼓勵您<a rel="nofollow" class="external text" href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">加入我們的社群電郵清單</a>來協助我們思考這些與其它地方問題。 </p>
  <div id=".E6.88.91.E8.A6.81.E5.A6.82.E4.BD.95.E5.BB.BA.E7.AB.8B.E4.BB.A5.E6.88.91.E6.89.80.E4.BD.BF.E7.94.A8.E8.AA.9E.E8.A8.80.E7.9A.84_lib.reviews_.E7.89.88.E6.9C.AC.EF.BC.9F"></div>
  <h2 id="language"><span class="mw-headline" id="我要如何建立以我所使用語言的_lib.reviews_版本？">我要如何建立以我所使用語言的 lib.reviews 版本？</span></h2>
  <p>我們使用 <a rel="nofollow" class="external text" href="https://translatewiki.net/">translatewiki.net</a> 作為翻譯使用者介面的平台。TranslateWiki 是與維基百科並行發展，來支援將維基百科使用者介面、其相關的姊妹專題、或其它開放原始碼專案給譯成多種語言。TranslateWiki 本身也同樣採用開放原始碼。 </p>
  <p>您可以<a rel="nofollow" class="external text" href="https://translatewiki.net/w/i.php?title=Special%3AMessageGroupStats&amp;x=D&amp;group=lib.reviews&amp;suppressempty=1">在此</a>查看各不同語言的翻譯進度。如果您是剛接觸 translatewiki.net，在您註冊之後該網站會要求您做 20 個小項範例翻譯。這是種過程約花費 10
    分鐘；用來「證明您了解您是在做何種測試」的延伸方式。一旦您的帳號被准許後，請閱覽<a rel="nofollow" class="external text" href="https://translatewiki.net/wiki/Special:Translate?group=lib.reviews">此頁面</a>來在右上方挑選您所想翻譯的語言 。 </p>
  <p>在達到 100% 的完成程度時，會在數天後讓該語言版本啟用。更新部份則通常會每週進行兩次同步。 </p>
  <p>類似此內容的頁面也是透過 TranslateWiki 進行維護和翻譯，請查看<a rel="nofollow" class="external autonumber" href="https://translatewiki.net/wiki/Translating:Lib.reviews#Content_pages此頁面">[1]</a>來獲得更多訊息。 </p>
  <div id=".E7.82.BA.E4.BB.80.E9.BA.BC.E5.8E.9F.E5.A7.8B.E7.A2.BC.E4.BE.9D.E6.93.9A_CC-0_.E6.8E.88.E6.AC.8A.EF.BC.8C.E8.80.8C.E4.B8.8D.E6.98.AF.E5.82.B3.E7.B5.B1.E7.9A.84.E9.96.8B.E6.94.BE.E5.8E.9F.E5.A7.8B.E7.A2.BC.E6.8E.88.E6.AC.8A.E6.A2.9D.E6.AC.BE.EF.BC.9F"></div>
  <h2 id="license"><span class="mw-headline" id="為什麼原始碼依據_CC-0_授權，而不是傳統的開放原始碼授權條款？">為什麼原始碼依據 CC-0 授權，而不是傳統的開放原始碼授權條款？</span></h2>
  <p><a rel="nofollow" class="external text" href="https://creativecommons.org/publicdomain/zero/1.0/">CC-0</a> 是受國際法律審查的公共領域之類裡；來添加東西至內容裡（諸如文字、圖片、編譯碼之類）的最安全合法方式。因我們無意向任何人做出對於他們是如何使用 lib.reviews 編碼資料方面的法律訴訟，合理的選擇；是用一份授權條款就能在最少的衝突之下，給予重複使用者最多的自由。請記住， lib.reviews
    的編碼資料；是依據在由各種不同開放原始碼授權條款下的第三方函式庫授權條款。 </p>
  <div id="lib.reviews_.E6.9C.AC.E8.BA.AB.E6.98.AF.E5.A6.82.E4.BD.95.E7.B6.AD.E6.8C.81.E9.81.8B.E4.BD.9C.E4.B8.8B.E5.8E.BB.EF.BC.9F.E5.AE.83.E5.85.B7.E6.9C.89.E7.87.9F.E9.81.8B.E8.A8.88.E5.8A.83.E5.97.8E.EF.BC.9F"></div>
  <h2 id="money"><span class="mw-headline" id="lib.reviews_本身是如何維持運作下去？它具有營運計劃嗎？">lib.reviews 本身是如何維持運作下去？它具有營運計劃嗎？</span></h2>
  <p>目前為 lib.reviews 運作的人們都是空閒時間參加此專案；不接收報酬的義工。若我們認為該專案已達到成熟可用的門檻程度時，會正當請求公共支援，我們可能會增加捐贈管道並建立合法的稅收抵扣機制。若您現在就有意來支援此專案（有確實了解到這永遠是無廣告及非營利的），請隨時透過郵件地址 eloquence@gmail.com 來聯絡專案創建者 Erik Moeller。 </p>
  <div id="lib.reviews_.E8.88.87_freeyourstuff.cc_.E4.B9.8B.E9.96.93.E7.9A.84.E9.97.9C.E4.BF.82.E6.98.AF.EF.BC.9F"></div>
  <h2 id="freeyourstuff"><span class="mw-headline" id="lib.reviews_與_freeyourstuff.cc_之間的關係是？">lib.reviews 與 freeyourstuff.cc 之間的關係是？</span></h2>
  <p><a rel="nofollow" class="external text" href="https://freeyourstuff.cc/">freeyourstuff.cc</a> 是由 Erik Moeller 所開發；能夠導出您在像是<a rel="nofollow" class="external text" href="http://www.imdb.com/">網路電影資料庫</a>、<a rel="nofollow" class="external text" href="https://www.yelp.com/">Yelp</a>    等網站上所做出的評論、其它貢獻的瀏覽器延伸套件。另外；您也能在 freeyourstuff.cc 網站上以自由授權條款來釋出這些貢獻，來讓任何人可重複使用它們。長遠來看，我們想以延伸套件的協助下來讓導入貢獻到 lib.reviews 能變得更容易，不過現在這兩個專案之間並沒有直接的介面。 </p>
</div>
