<div class="long-text">
<h1 id="page-header">Foire aux questions</h1>
<h2 id="why"><span class="mw-headline" id="Pourquoi_lib.reviews ?">Pourquoi lib.reviews ?</span></h2>
<p>Nous croyons que les informations que nous utilisons pour prendre des décisions — sur quel livre lire, à quel endroit rester ou quel produit acheter — seront de meilleure qualité si nous les organisons de façon transparente, via une communauté ouverte.
  Nous appliquons certains des principes pour lesquels des projets comme Wikipédia ou OpenStreetMap ont été pionniers&#160;: une base de code source ouverte, une licence libre sur tout le contenu, et aucun but de profit. Cela nous permet aussi de collaborer
  avec ces projets et d’autres existants pour collecter et organiser des méta-données libres et ouvertes sur les affaires, les produits, etc. </p>
<div id="Comment_assurez-vous_la_qualit.C3.A9_des_relectures_.3F"></div>
<h2 id="quality"><span class="mw-headline" id="Comment_assurez-vous_la_qualité_des_relectures_?">Comment assurez-vous la qualité des relectures&#160;?</span></h2>
<p>Pour l’instant, nous demandons aux utilisateurs de bien vouloir attendre de recevoir un lien d’invitation avant de s’inscrire. C’est un moyen simple de contrôler la croissance et de comprendre qui amène de nouveaux utilisateurs à ce site ; ainsi, nous
  pouvons garder un œil sur la qualité pendant notre croissance et pouvons éviter d’être trop tôt pollué à mort sans pouvoir aider efficacement les nouveaux inscrits invités à nous rejoindre. Au fil du temps, nous avons quelques idées pour la maintenance
  et l’augmentation de la qualité&#160;: </p>
<ul>
  <li> Les équipes sont un moyen pour les utilisateurs de partager un centre d’intérêt pour collaborer. Vous pouvez choisir de suivre seulement les critiques d’une équipe donnée, ce qui fournit un « filtre de qualité » inhérent, car chaque équipe peut apporter
    ses propres règles de participation.</li>
  <li> Nous introduirons peut-être des votes positifs ou négatifs pour mettre en valeur les critiques par les utilisateurs auxquels vous faites confiance, des algorithmes de notation transparents, ou des outils de conversation communautaires pour identifier
    les meilleures critiques sur un sujet donné.</li>
  <li> Nous lancerons peut-être des collaborations avec des groupes ou des individus qui ont un enregistrement suivi d’expertise appliquée à un domaine donné (par ex. les critiques de voitures).</li>
</ul>
<p>Vous avez une idée&#160;? Pourquoi ne pas la partager sur notre canal IRC (#lib.reviews on irc.libera.chat)? </p>
<div id="Comment_d.C3.A9tecter_ou_pr.C3.A9venir_les_analyses_financ.C3.A9es_.3F"></div>
<h2 id="spam"><span class="mw-headline" id="Comment_détecter_ou_prévenir_les_analyses_financées_?">Comment détecter ou prévenir les analyses financées&#160;?</span></h2>
<p>Il n’existe aucun moyen de garantir qu’un utilisateur n’ait pas été dédommagé d’une quelconque manière pour la revue qu’il aura rédigée et publiée sur Internet. Pour cette raison, nous n’interdisons absolument pas cela, mais soyez attentif sur le fait
  qu’en cherchant on montre même de petites incitations comme des échantillons de produits tendant à fausser les <a rel="nofollow" class="external text" href="https://reviewmeta.com/blog/analysis-of-7-million-amazon-reviews-customers-who-receive-free-or-discounted-item-much-more-likely-to-write-positive-review/">résultats des appréciations</a>.
  Nous n’autorisons pas l’auto-promotion, et nous exigeons que les utilisateurs révèlent clairement les conflits d’intérêts dans leur exposé. Cela signifie de vous devrez afficher ouvertement toute forme de compensation que vous espérez ou que vous avez
  reçue (ceci incluant les échantillons de produits). Il n’est pas acceptable pour des utilisateurs d’écrire des appréciations dans lesquelles l’opinion de l’auteur serait prédéterminée ou influencée par une tierce-partie leur offrant une compensation
  et nous bloquerons ces personnes pour de tels agissements. </p>
<p>En général nous voulons construire une communauté où les utilisateurs commencent par se connaître, se rencontrent face à face, et s'auto-organisent pour découvrir des sujets de qualité. La technologie comme mentionné ci-dessus fait partie de cela, mais
  le dialogue et les règles sont également importants. Nous vous encourageons à <a rel="nofollow" class="external text" href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">rejoindre la liste de diffusion de notre communauté</a> pour nous
  aider à réfléchir sur ces sujets et sur d'autres. </p>
<div id="Comment_cr.C3.A9er_une_version_de_lib.reviews_dans_ma_langue_.3F"></div>
<h2 id="language"><span class="mw-headline" id="Comment_créer_une_version_de_lib.reviews_dans_ma_langue_?">Comment créer une version de lib.reviews dans ma langue&#160;?</span></h2>
<p>Nous utilisons <a rel="nofollow" class="external text" href="https://translatewiki.net/">translatewiki.net</a> comme plateforme de traduction de l'interface utilisateur. TranslateWiki évolue comme Wikipedia pour la traduction de l'interface utilisateur
  de de Wikipedia et de ses projets-frères dans beaucoup de langues, et il est maintenant utilisé également par d'autres projets open source. Il est lui-même open source. </p>
<p>Vous pouvez voir la progression des versions dans les différentes langues <a rel="nofollow" class="external text" href="https://translatewiki.net/w/i.php?title=Special%3AMessageGroupStats&amp;x=D&amp;group=lib.reviews&amp;suppressempty=1">ici</a>. Si
  vous êtes nouveau sur translatewiki.net, après vous être enregistré, vous serez sollicité pour réaliser 20 traductions brèves à titre d'exemple. Ceci est une sorte de test étendu «&#160;prouvant que vous savez ce que vous faites&#160;»; il prend environ
  10 minutes. Une fois que votre compte est approuvé, visitez <a rel="nofollow" class="external text" href="https://translatewiki.net/wiki/special:Translate?group=lib.reviews">cette page</a> et sélectionnez dans le coin supérieur droit, la langue vers
  laquelle vous voulez traduire. </p>
<p>Les langues sont disponibles en l'espace de quelques jours, dès que les traductions sont réalisées à 100%. Les mises à jour sont typiquement synchronisées deux fois par semaine. </p>
<p>Les pages comme celle-ci sont aussi mises à jour et traduites par TranslateWiki, voir <a rel="nofollow" class="external text" href="https://translatewiki.net/wiki/Translating:Lib.reviews#Content_pages">cette page</a> pour plus d'information. </p>
<div
  id="Pourquoi_le_code_est-il_sous_CC-0_et_non_pas_sous_une_licence_open_source_conventionnelle_.3F"></div>
  <h2 id="license"><span class="mw-headline" id="Pourquoi_le_code_est-il_sous_CC-0_et_non_pas_sous_une_licence_open_source_conventionnelle_?">Pourquoi le code est-il sous CC-0 et non pas sous une licence open source conventionnelle&#160;?</span></h2>
  <p><a rel="nofollow" class="external text" href="https://creativecommons.org/publicdomain/zero/1.0/">CC-0</a> est légalement la manière la plus sécurisée de mettre une part de contenu (texte, image, code, ou autre) dans le domaine public d'une manière
    qui soit l'objet d'un examen minutieux en vertu du droit international. Etant entendu que nous n'avons aucune intention de forcer des poursuites justifiées contre quiconque, pour ce qu'il ferait de la base logicielle de lib.reviews, une licence qui
    donne aux ré-utilisateurs le maximum de liberté avec un minimum de friction semblait être un choix raisonnable. Gardez bien à l'esprit que la base logicielle lib.reviews dépend de bibliothèques tierses publiées sous des licences open source différentes.
    </p>
  <div id="Comment_lib.reviews_peut-il_durablement_pourvoir_.C3.A0_ses_propres_besoins_.3F_Y_a-t-il_un_plan_d.E2.80.99affaire_.3F"></div>
  <h2 id="money"><span class="mw-headline" id="Comment_lib.reviews_peut-il_durablement_pourvoir_à_ses_propres_besoins_?_Y_a-t-il_un_plan_d’affaire_?">Comment lib.reviews peut-il durablement pourvoir à ses propres besoins&#160;? Y a-t-il un plan d’affaire&#160;?</span></h2>
  <p>Jusqu'à présent, les gens qui travaillent sur lib.reviews sont tous des volontaires qui travaillent sur le projet sans salaire, pendant leur temps libre. Si et lorsque nous arriverons au seuil où nous estimerons que le projet est suffisamment mature
    et utile pour justifier une aide publique, nous commencerons probablement par ajouter des liens pour les donations et mettrons en place des méchanismes légaux pour les réductions d'impôts. Dans le cas où vous voudriez initialement soutenir le projet
    d'une façon majeure (le réaliser sera toujours sans publicité et à but non lucratif), n'hésitez pas à contacter le fondateur du projet Erik Moeller via eloquence AT gmail POINT com. </p>
  <div id="Quelles_sont_les_relations_entre_lib.reviews_et_freeyourstuff.cc_.3F"></div>
  <h2 id="freeyourstuff"><span class="mw-headline" id="Quelles_sont_les_relations_entre_lib.reviews_et_freeyourstuff.cc_?">Quelles sont les relations entre lib.reviews et freeyourstuff.cc&#160;?</span></h2>
  <p><a rel="nofollow" class="external text" href="https://freeyourstuff.cc/">freeyourstuff.cc</a> est une extension de navigateur développée par Erik Moeller qui vous permet d’exporter des révisions et d’autres contributions que vous avez faites à des sites
    propriétaires comme <a rel="nofollow" class="external text" href="http://www.imdb.com/">IMDB</a> et <a rel="nofollow" class="external text" href="https://www.yelp.com/">Yelp</a>. Optionnellement vous pouvez aussi publier ces contributions sous licence
    libre sur le site freeyourstuff.cc, permettant à chacun de les réutiliser. À long terme, nous voudrions faciliter les imports de contributions dans lib.reviews à l’aide de cette extension, mais pour l’instant il n’y a pas encore d’interface directe
    entre les deux projets. </p>
</div>
