<div class="long-text">
<h1 id="page-header">Preguntas frecuentes</h1>

<h2 id="why">¿Por qué lib.reviews?</h2>

Creemos que la información que utilizamos para tomar decisiones ―qué libros leer, dónde vacacionar o qué productos comprar― puede ser de mejor calidad si la organizamos de forma transparente por medio de una comunidad abierta. Hemos aplicado algunos de los principios que impulsaron por primera vez proyectos como Wikipedia y OpenStreetMap: código abierto, licencia abierta para todo el contenido y cero fines de lucro.
<p>
Esto también nos permite colaborar con otros proyectos como los ya mencionados para recopilar y organizar metadatos libres y abiertos sobre negocios, productos y más.
<p>
<h2 id="quality">¿Cómo se garantiza la calidad de las reseñas?</h2>

En estos momentos, solicitamos a los usuarios tomarse la molestia de obtener un código de invitación antes de registrarse. Este sencillo procedimiento controla nuestro crecimiento y permite saber quiénes nos recomiendan a usuarios nuevos, de modo que podamos supervisar la calidad y evitar recibir contenido basura desde nuestras fases tempranas.
<p>
A medida que pase el tiempo, contamos con algunas ideas para mantener o mejorar la calidad:
<ul>
<li>Los equipos permiten colaborar a los usuarios que comparten algún interés. Puedes elegir seguir solo las reseñas de un equipo concreto, lo cual constituye inherentemente un «filtro de calidad», dado que cada equipo puede crear sus propias reglas de participación.
<li>Tal vez adoptemos votos positivos/negativos, mecanismos para resaltar las reseñas de los usuarios en quienes confíes, algoritmos de valoración transparentes o herramientas de conversaciones comunitarias, todo con el fin de identificar las mejores reseñas sobre un tema particular.
<li>Podríamos emprender colaboraciones con grupos e individuos que cuenten con un historial de aplicación de conocimientos en un ámbito dado (p. ej., reseñas de automóviles).
</ul>

¿Tienes otra idea? ¿Por qué no nos la compartes en nuestro canal de IRC (#lib.reviews en irc.libera.chat) o a través de nuestra <a href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">lista de correo</a>?
<p>
<h2 id="spam">¿Cómo detectan/evitan las reseñas pagadas?</h2>

No existe una manera de garantizar que un usuario no ha recibido alguna compensación a cambio de una reseña de Internet. Es por ello que no lo prohibimos incondicionalmente, pero hay que tener en cuenta que existen investigaciones que muestran que hasta los incentivos pequeños, como las muestras de producto, tienden a <a href="http://reviewmeta.com/blog/analysis-of-7-million-amazon-reviews-customers-who-receive-free-or-discounted-item-much-more-likely-to-write-positive-review/">sesgar los puntos de vista de las reseñas</a>. No permitimos la autopromoción y exigimos que los usuarios revelen los conflictos de interés de forma clara en sus reseñas. Esto quiere decir que debes señalar cualquier tipo de remuneración que esperas recibir o que ya hayas recibido (incluidas las muestras de producto). Para los usuarios no es aceptable escribir reseñas en las que la opinión del reseñador ha sido predeterminada por un tercero que le haya ofrecido algo a cambio, y bloquearemos a cualquier usuario que incurra en esta práctica.
<p>
A grandes rasgos, queremos construir una comunidad donde los usuarios comiencen a saber los unos de los otros, conocerse en persona y autoorganizarse para encontrar problemas de calidad. El lado tecnológico, tal como ya se mencionó, es parte de esto, pero la comunicación y las políticas son igual de importantes. Te animamos a incorporarte a nuestra <a href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">lista de correo comunitaria</a> para ayudarnos a analizar a detalle estas y otras cuestiones.

<h2 id="language">¿Cómo creo una versión de lib.reviews en mi lengua?</h2>

Utilizamos <a href="https://translatewiki.net/">translatewiki.net</a> como plataforma de traducción de la interfaz de usuario. TranslateWiki ha evolucionado al lado de Wikipedia para permitir la traducción de la interfaz de usuario de Wikipedia y sus proyectos hermanos, y ahora otros proyectos de código abierto la utilizan también. TranslateWiki es de código abierto.
<p>
Puedes consultar el progreso de las distintas traducciones <a href="https://translatewiki.net/w/i.php?title=Special%3AMessageGroupStats&x=D&group=lib.reviews&suppressempty=1">aquí</a>. Si es la primera vez que utilizas translatewiki.net, luego de registrarte, se te solicitará realizar 20 traducciones breves de ejemplo. Este es un tipo de prueba «comprueba que sabes lo que haces»; te tomará cerca de 10 minutos. Cuando tu cuenta sea aprobada, visita <a href="https://translatewiki.net/wiki/Special:Translate?group=lib.reviews">esta página</a> y selecciona el idioma al que traducirás en la esquina superior derecha.
<p>
Cuando la traducción se complete al 100 %, la activaremos en el sitio cuando trascurran unos cuantos días. Normalmente se sincronizan las actualizaciones dos veces a la semana.
<p>
Las páginas como esta están alojadas <a href="https://github.com/eloquence/lib.reviews/tree/master/views/multilingual">en GitHub</a>; para traducirlas, <a href="https://help.github.com/articles/creating-a-pull-request/">crea una solicitud de integración</a>. Si necesitas ayuda, podrás encontrarnos en IRC (#lib.reviews en irc.libera.chat).

<h2 id="license">¿Por qué el código está bajo CC-0 en vez de una licencia de código abierto convencional?</h2>

CC-0 es la vía más segura legalmente para liberar contenido (texto, imágenes, código, etcétera) al dominio público de un modo que soporte el escrutinio bajo las leyes internacionales. Como no queremos ejercer acciones judiciales contra nadie por lo que hagan con el código de lib.reviews, nos pareció sensato optar por una licencia que diese a los reutilizadores el máximo de libertadas con el mínimo de fricciones. Ten en cuenta que el código de lib.reviews depende de bibliotecas de terceros distribuidas bajo diversas licencias de código abierto.

<h2 id="why">¿Cómo se sostiene lib.reviews? ¿Existe un plan de negocios?</h2>

Por ahora, todos los que trabajan en lib.reviews son voluntarios que no reciben pago por su labor y lo hacen en sus ratos libres. Si alcanzamos el punto en el que sintamos que el proyecto ha madurado y es lo suficientemente útil como para justificar solicitudes de apoyo del público, es probable que agreguemos enlaces de donativos y establecer mecanismos legales para la deducción de impuestos. Si quieres apoyar el proyecto de forma importante antes de que lleguemos a ese punto (comprendiendo que siempre estaremos libres de anuncios y jamás tendremos fines de lucro), ponte en contacto con el fundador del proyecto, Erik Moeller, a través de eloquence EN gmail PUNTO com.

<h2 id="freeyourstuff">¿Qué relación existe entre lib.reviews y freeyourstuff.cc?</h2>

<a href="https://freeyourstuff.cc/">freeyourstuff.cc</a> es una extensión para el navegador programada por Erik Moeller que permite exportar tus reseñas y otras contribuciones a sitios privativos como <a href="http://www.imdb.com/">IMDB</a> y <a href="https://www.yelp.com/">Yelp</a>. Podrás optar por liberar esas contribuciones bajo una licencia libre en el sitio web freeyourstuff.cc, lo que dejará que otros las puedan reutilizar. A largo plazo, queremos que sea fácil importar constribuciones en lib.reviews con ayuda de esta extensión, pero actualmente no existe todavía ninguna interfaz directa entre los dos proyectos.
