<div class="long-text">
<h1 id="page-header">Frequently Asked Questions</h1>

<h2 id="why">Why lib.reviews?</h2>

We believe that the information we use to make decisions -- about what book to read, what place to stay at or what product to buy -- will be of higher quality if we organize it transparently, through an open community. We apply some of the principles pioneered by projects like Wikipedia and OpenStreetMap: an open source codebase, open licensing of all content, and no profit motive.
<p>
This also allows us to collaborate with these and other existing projects to collect and organize free and open metadata about businesses, products, and so on.
<p>
<h2 id="quality">How do you ensure quality of reviews?</h2>

At this point, we ask users to jump through the hoop of obtaining an invite code before signing up. This is a straightforward way to control growth and understand who's referring new users to the site, so we can keep an eye on quality as we grow and avoid getting spammed to death early on.
<p>
Over time, we have a few ideas for maintaining/increasing quality:
<ul>
<li>Teams are a way for users who share an interest to collaborate. You can choose to follow only reviews by a given team, which provides an inherent "quality lens", since each team can come up with its own rules of engagement.
<li>We may introduce upvotes/downvotes, user-level trust ratings, transparent scoring algorithms, or community conversation tools to identify the best reviews on a given subject.
<li>We may invite collaborations with groups and individuals who have a track record of applying expertise to a given domain (e.g., car reviews).
</ul>

Have an idea? Why not share it on our IRC channel (#lib.reviews on irc.freenode.net) or via our <a href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">mailing list</a>?
<p>
<h2 id="spam">How do you detect/prevent paid reviews?</h2>

There's no way to guarantee that a user hasn't been compensated in some way for a review they write on the Internet. We don't absolutely forbid it, but we require that users disclose conflicts of interest clearly in their review and will block users who are found to have been specifically compensated to write a positive review.
<p>
In general, we want to build a community where users start to get to know each other, meet each other face-to-face, and self-organize to uncover quality issues. Technology as mentioned above is a part of this, but conversation and policy are equally important. We encourage you to join our <a href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">community mailing list</a> to help us think through these and other issues.

<h2 id="language">How do I create a version of lib.reviews in my language?</h2>

We use <a href="https://translatewiki.net/">tranlatewiki.net</a> as a platform for translation of the user interface. TranslateWiki evolved alongside Wikipedia to support the translation of the user interface of Wikipedia and its sister projects into many language, and is now used by other open source projects as well. It is itself fully open source.
<p>
You can see the progress of different language versions <a href="https://translatewiki.net/w/i.php?title=Special%3AMessageGroupStats&x=D&group=lib.reviews&suppressempty=1">here</a>. If you're new to translatewiki.net, after you sign up, it'll ask you to do 20 small example translations. This is a sort of extended "prove you know what you're doing test"; it takes about 10 minutes. Once your account is approved, visit <a href="https://translatewiki.net/wiki/Special:Translate?group=lib.reviews">this page</a> and pick the language you're translating to in the top right corner.
<p>
Languages are enabled within a few days once they reach 100% completion. Updates are typically synchronized twice a week.
<p>
Pages like this one are maintained <a href="https://github.com/eloquence/lib.reviews/tree/master/views/multilingual">on GitHub</a> and you can create a new language version by <a href="https://help.github.com/articles/creating-a-pull-request/">creating a pull request</a>. Find us on IRC (#lib.reviews on irc.freenode.net) if you require assistance.

<h2 id="license">Why is the code under CC-0 and not a conventional open source license?</h2>

CC-0 is the legally safest route to put any piece of content (text, image, code, whatever) in the public domain in a manner that holds up to scrutiny under international law. Since we have no intention of enforcing legal claims against anyone for what the do with the lib.reviews codebase, a license that gives re-users maximum freedom with minimal friction seemed like a reasonable choice. Do keep in mind that the lib.reviews codebase depends on third party libraries licensed under various different open source licenses.

<h2 id="why">How does lib.reviews sustain itself? Is there a business plan?</h2>

For now, the people working on lib.reviews are all volunteers who work on the project without payment, in their spare time. If and when we reach the threshold where we feel the project is sufficiently mature and useful to justify asking for public support, we will likely start adding donation links and set up legal mechanisms for tax deductibility. If you would like to support the project in a major way before then (realizing it will always be ad-free and non-profit), feel free to contact project founder Erik Moeller via eloquence AT gmail DOT com.
