<div class="long-text">
  <h1 id="page-header">常见问题解答</h1>
  <h2 id="why"><span class="mw-headline" id="为什么使用lib.reviews？">为什么使用lib.reviews？</span></h2>
  <p>我们相信我们用来做出决定的信息——有关如何阅读图书、停留在何地、或是如何购买产品——如果我们通过开放的社群，透明地组织的话，都将具有高品质。我们应用一些维基百科及OpenStreetMap的方针所倡导的原则：开源代码库，所有内容开放许可协议，并无盈利目的。这也允许我们与这些项目和其他现有项目合作，来收集并组织自由和开放的有关商务、产品等的元数据。 </p>
  <div id=".E6.88.91.E4.BB.AC.E5.A6.82.E4.BD.95.E7.A1.AE.E4.BF.9D.E5.AE.A1.E6.9F.A5.E7.9A.84.E5.93.81.E8.B4.A8.EF.BC.9F"></div>
  <h2 id="quality"><span class="mw-headline" id="我们如何确保审查的品质？">我们如何确保审查的品质？</span></h2>
  <p>在这个问题上，我们要求用户先通过获取邀请链接，再继续注册。这是简单粗暴的控制发展，并了解谁在谈及来到该网站新用户的方式，这样我们可以留心我们的发展品质，并避免遭到破坏而走入死亡。随着时间发展，我们有一些维护/增长品质的主意： </p>
  <ul>
    <li> 团队是让用户分享兴趣合作的方式。您可以选择只关注指定团队做出的审查，这提供了一个固有的“质量透视镜”，因为每个团队都可以提出自己的参与规则。</li>
    <li> 我们可能引进喜欢/讨厌式的投票机制，这是高亮您信任的用户做出审查的方式，其拥有透明的计分算法，或社群会话工具来识别指定主题的最佳审查。</li>
    <li> 我们可能邀请群组及拥有可追踪的申请指定领域专业（例如汽车审查）记录的个人参与协作。</li>
  </ul>
  <p>您有什么主意么？为什么不将其分享到我们的IRC频道（#lib.reviews 位于irc.libera.chat）？
    </p>
  <div id=".E6.88.91.E4.BB.AC.E5.A6.82.E4.BD.95.E6.A3.80.E6.B5.8B.2F.E9.98.BB.E6.AD.A2.E6.9C.89.E5.81.BF.E5.AE.A1.E6.9F.A5.EF.BC.9F"></div>
  <h2 id="spam"><span class="mw-headline" id="我们如何检测/阻止有偿审查？">我们如何检测/阻止有偿审查？</span></h2>
  <p>没有方法可以保证用户没有为其在互联网上书写的审查做出某种方式的补偿。基于这个原因，我们不绝对禁止它，但请注意研究显示即便是类似产品示例的小奖励，也会对您的审查产生<a rel="nofollow" class="external text" href="https://reviewmeta.com/blog/analysis-of-7-million-amazon-reviews-customers-who-receive-free-or-discounted-item-much-more-likely-to-write-positive-review/">偏见性结果</a>。我们不允许自我推销，并且我们要求用户在其审查中清楚地公开利益冲突。这意味着您不得不指出任何形式的，您期望收到或已经收到的补偿（包括产品示例）。对用户而言，当审查者的选项业已由第三方决定提供补偿时，我们不允许书写审查，并且如果用户执意书写，我们将因此封禁用户。
    </p>
  <p>通常我们希望构造社群，以便以后互相了解、面对面会见、并自我组织发现质量问题。上面提到的技术是这件事的一部分，但对话和方针同样重要。我们鼓励您<a rel="nofollow" class="external text" href="http://lists.freeculture.org/mailman/listinfo/lib.reviews">加入我们的社群邮件列表</a>，来帮助我们考虑这些事和其他问题。 </p>
  <div id=".E6.88.91.E5.A6.82.E4.BD.95.E5.88.9B.E5.BB.BA.E6.88.91.E4.BD.BF.E7.94.A8.E8.AF.AD.E8.A8.80.E7.89.88.E6.9C.AC.E7.9A.84lib.reviews.EF.BC.9F"></div>
  <h2 id="language"><span class="mw-headline" id="我如何创建我使用语言版本的lib.reviews？">我如何创建我使用语言版本的lib.reviews？</span></h2>
  <p>我们使用<a rel="nofollow" class="external text" href="https://translatewiki.net/">translatewiki.net</a>作为用户界面的翻译平台。TranslateWiki与维基百科共同发展，来支持将维基百科及其姊妹计划用户界面翻译成多种语言，并且现在也用于其他开源项目。它本身也是完全开源的。 </p>
  <p>您可以<a rel="nofollow" class="external text" href="https://translatewiki.net/w/i.php?title=Special%3AMessageGroupStats&amp;x=D&amp;group=lib.reviews&amp;suppressempty=1">在此</a>查看不同语言版本的翻译进度。如果您是translatewiki.net的新手，在您注册后，它将要求您做20个小示例翻译。这是对“证明您知道您在做何测试”的一种扩充；这需要约10分钟。一旦您的账户获得通过，访问
    <a
      rel="nofollow" class="external text" href="https://translatewiki.net/wiki/Special:Translate?group=lib.reviews">该页面</a>并在右上角挑选您在翻译的语言。 </p>
  <p>一旦语言100%完成翻译工作，我们就会在接下来几天内启用该语言版本。更新同步一般每周两次。 </p>
  <p>类似该页面的页面也通过TranslateWiki维护和翻译，参见<a rel="nofollow" class="external text" href="https://translatewiki.net/wiki/Translating:Lib.reviews#Content_pages">此页面</a>获取更多信息。 </p>
  <div id=".E4.B8.BA.E4.BB.80.E4.B9.88.E4.BB.A3.E7.A0.81.E4.BE.9D.E6.8D.AECC-0.E6.8E.88.E6.9D.83.EF.BC.8C.E8.80.8C.E4.B8.8D.E6.98.AF.E4.BE.9D.E6.8D.AE.E4.BC.A0.E7.BB.9F.E7.9A.84.E5.BC.80.E6.BA.90.E8.AE.B8.E5.8F.AF.E5.8D.8F.E8.AE.AE.EF.BC.9F"></div>
  <h2 id="license"><span class="mw-headline" id="为什么代码依据CC-0授权，而不是依据传统的开源许可协议？">为什么代码依据CC-0授权，而不是依据传统的开源许可协议？</span></h2>
  <p>从法律上讲，<a rel="nofollow" class="external text" href="https://creativecommons.org/publicdomain/zero/1.0/deed.zh">CC-0</a>是最安全，最符合国际法的将任何内容部分（文本、图片、代码等）发布到公有领域，以阻止详细检查的方式。由于我们没有执行执法当局对lib.reviews代码库的任何违法行为施加惩罚的目的，提供复用高度自由与最低摩擦的许可协议更像是合理选择。请记住，lib.reviews代码库依赖于第三方库，它们使用多种不同的开源许可协议。
    </p>
  <div id="lib.reviews.E5.A6.82.E4.BD.95.E7.BB.B4.E6.8C.81.E5.85.B6.E6.9C.AC.E8.BA.AB.E7.9A.84.E8.BF.90.E8.90.A5.EF.BC.9F.E8.BF.99.E9.87.8C.E6.9C.89.E5.95.86.E4.B8.9A.E8.AE.A1.E5.88.92.E4.B9.88.EF.BC.9F"></div>
  <h2 id="money"><span class="mw-headline" id="lib.reviews如何维持其本身的运营？这里有商业计划么？">lib.reviews如何维持其本身的运营？这里有商业计划么？</span></h2>
  <p>目前，在lib.reviews工作的人们都是志愿者，他们不用付款就可以抽出消遣时间工作在项目中。如果我们达到了我们感觉项目充分成熟的阀值，并对公开支持起到有力证明时，我们将很可能开始添加捐款链接，并设置法律机制以便减免纳税。如果您在此之前（请相信它将总是没有广告，非营利的）希望以主要方式支持项目，欢迎联络项目创始人Erik Moeller：eloquence 艾特 gmail 点 com（将艾特改为@，点改为“.”即可）。 </p>
  <div id="lib.reviews.E5.92.8Cfreeyourstuff.cc.E4.B9.8B.E9.97.B4.E6.9C.89.E4.BB.80.E4.B9.88.E5.85.B3.E7.B3.BB.EF.BC.9F"></div>
  <h2 id="freeyourstuff"><span class="mw-headline" id="lib.reviews和freeyourstuff.cc之间有什么关系？">lib.reviews和freeyourstuff.cc之间有什么关系？</span></h2>
  <p><a rel="nofollow" class="external text" href="https://freeyourstuff.cc/">freeyourstuff.cc</a>是由Erik Moeller开发的浏览器扩展，它让您导出您做出的审查及其他贡献至专有网站，例如<a rel="nofollow" class="external text" href="http://www.imdb.com/">IMDB</a>和<a rel="nofollow" class="external text"
      href="https://www.yelp.com/">Yelp</a>。顺便一提，您也可以依据freeyourstuff.cc网站的自由许可协议发布这些贡献，这样允许任何人复用它们。长远来讲，我们希望通过扩展的帮助使导出贡献到lib.reviews变得容易，但目前两个项目之间没有直接的界面允许这样做。 </p>
</div>
