<div class="long-text">
  <h1 id="page-header">使用條款</h1>
  <p>歡迎！這些條款特別以非法規形式的人性化字句來表達。請花點時間看一看！它們能讓您有更好的體驗，並協助您了解我們網站的觀點與價值。若您認為這些內容可改進，請不要猶豫立刻提出建議。您可以在 <a rel="nofollow" class="external text" href="https://github.com/eloquence/lib.reviews/issues">GitHub 問題</a>裡表明，或是在 </p> <a rel="nofollow" class="external text" href="https://translatewiki.net/wiki/Translating:Lib.reviews/Terms_of_use">TranslateWiki.net</a> 上反應，另外此頁面就是透過該網站維護及翻譯的。
  <div id=".E9.9A.B1.E7.A7.81.E6.94.BF.E7.AD.96"></div>
  <h2 id="privacy"><span class="mw-headline" id="隱私政策">隱私政策</span></h2>
  <p>我們的訪問者日誌儲存長達 90 天。這些日誌內容通常包含各請求（像是前往某個頁面、圖片、API 等等）。任一行列包含像是 IP 位置的訊息、URL、使用者代理資料（您的瀏覽器與版本號碼）、參照訊息，以及其它當您訪問任何網站時您的瀏覽器所發送之標準資料。 </p>
  <p>我們會收集額外的使用者操作行為匿名日誌(例如：有多少人會去點擊某些按鈕)，來使此網站能變得更好。當我們這樣做時，我們會努力將資料內容公開，畢竟不是僅有我們才能藉此來獲悉事物。 </p>
  <p>我們採用標準方式（<a rel="nofollow" class="external text" href="https://zh.wikipedia.org/wiki/Cookie">cookies</a>、<a rel="nofollow" class="external text" href="https://zh.wikipedia.org/wiki/%E7%BD%91%E9%A1%B5%E5%AD%98%E5%82%A8">網頁儲存</a>）來在您的瀏覽器儲存訊息，例如像是您的使用者對談金鑰、您優先採用的使用者介面語言，或是您尚未發佈在網站上的草稿內容。
    </p>
  <p>我們可能會被依法律要求來回應關於使用者的訊息(例如：因傳票緣故)。在這些情況下，無論是否合理我們都會去通知您，並且會拒絕掉被我們認為是無效的請求。 </p>
  <p>我們不會藉著我們的使用者來謀利。我們也不會對您顯露廣告，或是將您的私人資料分享出、販賣給其他人(除非有法律上的要求；如上所述)，也不使用任何由第三方營運的追蹤分析服務。 </p>
  <div id=".E8.A1.8C.E7.82.BA.E8.88.87.E5.85.A7.E5.AE.B9.E6.96.B9.E9.87.9D"></div>
  <h2 id="conduct"><span class="mw-headline" id="行為與內容方針">行為與內容方針</span></h2>
  <p>我們相信要能夠令人感到愉悅及開放、並且運作良好，我們的社群就必須要健全且致力出一套共同基本原則，其中一些有被表述在文本裡作為方針。 其它網站有時僅會在使用者開始大聲反應不滿時才強制執行方針，而留給使用者的就是創建他們自己的「過濾氣泡」，讓他們最後只能跟自己合得來的其他使用者互動。我們不認為這樣的做法能讓社群健全，因此會努力在實施方針時保持一致。 </p>
  <p>我們的核心行為方針也遵循： </p>
  <p><b>騷擾：</b>我們嚴重看待騷擾。這代表不該有對其他人做出人身攻擊、霸凌、威脅、性別上的挑逗，以及意圖暴露或隱私揭露。 </p>
  <p><b>仇恨：</b>如果您討厭黑人、白人、亞洲人、胖子、瘦子、女的、男的、同性戀、異性戀，或是不屬於變性者、猶太人、穆斯林、基督徒、無神論者以及任何眾生團體，我們必須說這不是適合您待的地方。雖然說對意見批評是件好事，而且我們也支持讓「廢止核能」與「擁護核能」討論這類主題的群組成立在我們網站上，但我們絕不允許透過我們的網站平台來散發仇恨。 </p>
  <p><b>造謠：</b>既然我們允許對任何事物進行評論，所以可能會有些人伺機發佈虛假訊息；來損害某些人事物的名聲。相對地，會有人刻意聲稱一些準確訊息內容反而是誹謗的。這會是不易處理情況，因此我們通常會透過在網站上支援對談、和建立信用/信譽等功能來解決這些事件。然而在審查特定情況時，如果貌似虛構及誹謗；協調者可能會撤銷評論。 </p>
  <p><b>自我宣傳與垃圾訊息：</b>這裡不是用來宣傳您個人相關事物的平台。我們鼓勵您當此網站支援詮釋資料時，再將有關您個人的產品、事業、網站等等添加在其中。若您在評論裡清楚表明出利益衝突時，來評論競爭者的產品與服務也是可行的。另外我們會要求您回應至您認為不精準的評論。在垃圾訊息所造成的濫用（見下列）會以相關方式處理。 </p>
  <p><b>濫用：</b>lib.reviews 擁有明確的網站成立宗旨，如果有使用者有計畫地用於其它目的、或是刻意篡改內容，這都會是禁止項目；並在嚴重情況下可能會提升至採取法律機構處理。 </p>
  <p><b>非法內容與行為：</b>您不可發佈任何抵觸美國法律的內容，並且在某些情況下；我們可能會基於法律和道德義務向當局回報。在含有情色的內容方面，對此我們會比法律更加嚴格：任何涉及未成年的情色內容皆不合規定。同樣地；根據美國法律您不可在此網站上做出違法行為。 </p>
  <p><b>評論非法內容、產品或服務：</b>評論產品或服務明確指出讓它們在某處是合法的特定管轄範圍是正確的（例如：在一個允許讓藥房販賣大麻的地點）。對於在美國本地是非法的線上內容（例如：非法交換版權物品網站）、非法廣告服務（例如：在美國多數州裡的招妓服務），因為這些會成為違背法律的途徑，所以您會被不允許發佈評論。同時在一些法律為模糊地帶的情況（例如：像是維基解密這類有爭議性的網站），我們不認為是恰當的言論自由。 </p>
  <p><b>露骨及竦動的內容：</b>我們致力為所有年齡層的人們服務，這代表我們會明確識別出成人取向的內容。因此若您認為在文章脈絡裡嚴禁露骨內容是合宜的，那我們(或者是協調者)會要求您如此標記。我們也可能會以其它方式來標記有著圖例或聳動的內容。 </p>
  <p><b>人類不應是物品：</b>我們不接受對於個人行為方面發表評論（但評論個人經營的營業個體是可行的）。因此評論內容您不該編寫有關於您的鄰君、您的導師、或是您的上司。這是因為我們相信當橫跨這條界線時，會很難保護到個人的尊嚴和名譽。 </p>
  <p><b>擾亂：</b>我們不容忍靠著讓其他人痛苦、浪費別人時間、或為了好玩進行妨礙來獲得樂趣的使用者。這樣的使用者可能會試著在遵循上列方針來違反。此段落明確指出當有以上情況發生時，協調者有權禁止該使用者。 </p>
  <p>若您違反了我們的規則，網站協調者（多數與您同樣是志願參與）可能會暫時或永久封鎖您，或暫時停止您的一些特定權限。我們會致力維持公平，但也會給予協調者某種程度的處理權力來強制執行這些規則。隨著時間過去，我們可能會參考過去的前例決策來酌情（您可以想成是貼近政策的約俗方針）。 </p>
  <p>很多網站包含著有關資料下載、資料探勘、限制下載、資料採集，以及其它像是資料再用等項目。相較之下，在 lib.reviews 上發佈的訊息只旨在重新使用！只要您遵守授權條款（請詳見下方），不要將資料用在此文本裡的禁止項目，也不要過度濫用我們的資源情況下，一切都沒問題的。&#160;:-) </p>
  <div id=".E6.8E.88.E6.AC.8A.E6.A2.9D.E6.AC.BE"></div>
  <h2 id="licensing"><span class="mw-headline" id="授權條款">授權條款</span></h2>
  <p>網站名稱「lib.reviews」是參考<a rel="nofollow" class="external text" href="https://en.wikipedia.org/wiki/Gratis_versus_libre">免費與自由區別</a>（Gratis versus libre）。我們運作的宗旨是建立於分享之上，並無限期提供給全世界。因此網站的文章裡無論是否有明確陳述出，一當您發佈訊息後代表著同意<a rel="nofollow" class="external text"
      href="https://freedomdefined.org/Definition">自由授權條款</a>。我們採取下列許可： </p>
  <ul>
    <li> 評論裡的文字與文章（看法、部落格文章等等）當透過此網站發佈後會基於創用CC<a rel="nofollow" class="external text" href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh_TW">姓名標示-相同方式分享 4.0</a>，該許可有使用於<a rel="nofollow" class="external text" href="https://zh.wikipedia.org/wiki/">維基百科</a>上。這代表著若您想重新使用內容，您必須在具體貢獻旁加上作者名稱來表彰。我們建議將名稱連結至此網站上他們的個人檔案，因此即使對方是使用化名或正式名稱都可清楚表示出（除此之外，這樣一來您就可以不必另外提到
      lib.reviews，當然如果還是有的話就更棒啦！）。如果您手動更改內容，您的修改/添加內容也是同樣基於此許可；一種公共版權的原則。</li>
  </ul>
  <ul>
    <li> 當我們添加詮釋資料至被評論的事物時（例如：營業開放時間），該資料主要會在基於 CC-0 授權條款下使用（該條款有被使用在<a rel="nofollow" class="external text" href="https://www.wikidata.org/">維基數據</a>；相同於公眾領域 -「依您想要的方式來使用資料」）。例外情況是若匯入資料來自於外部自由授權條款的資源，這樣可能會同時/或要求歸因於公共版權。在這些情況下，特定授權條款要求內容會以人類與機器可讀的形式來標註。</li>
  </ul>
  <ul>
    <li> 軟體(包含作為軟體一部份的靜態文字頁面)同樣依據 <a rel="nofollow" class="external text" href="https://creativecommons.org/publicdomain/zero/1.0/deed.zh_TW">CC0</a> 授權條款，除了額外的開放原始碼函式庫可能會依據不同協議以外，內容會在原始代碼版本庫裡明確表明出。</li>
  </ul>
  <p>使用者可能會在他們的評論及發佈文章裡附上圖片及其它媒體內容，而這些圖片可能會是非當事人自行創作的作品。鑑於此網站為非商業性質，我們建議<a rel="nofollow" class="external text" href="https://zh.wikipedia.org/wiki/%E5%90%88%E7%90%86%E4%BD%BF%E7%94%A8">合理使用</a>多數此類型的外部網路內容用途，但版權持有者若提出合理要求，我們通常都會撤下內容。如果您打算在此網站上對內容進行商業使用，您可能會需要申請額外審查來確保適用於合理使用。
    </p>
  <div id=".E7.89.88.E6.9C.AC.E6.AD.B7.E5.8F.B2"></div>
  <h2 id="versions"><span class="mw-headline" id="版本歷史">版本歷史</span></h2>
  <p>2016 年 8 月 1 日：發佈初始版本 </p>
  <p>2017 年 8 月 4 日：小修改，匯入至 TranslateWiki </p>
</div>
