These terms are deliberately written in non-legalese, human language. Please take a spin through them! They're made to make your experience better, and to help you understand our philosophy and values. And if you think they can be improved, don't hesitate to submit a pull request, preferably to the English version.

<h3 id="privacy">Privacy</h3>

We do not show advertising, we don't share private data unless we have to for legal reasons or within the scope of an abuse investigation (see below) , and we do not use third party tracking code. We store visitor logs for up to 90 days. These logs typically contain one line for each request (to a page, image, API, etc.). Each line contains info such as IP address, URL, user-agent data (your browser and version number), referer info, and other standard data your browser sends when you visit any website.
<p>
We may collect additional anonymized logs of user actions (e.g., how many people clicked on a certain button), to make the site better. If we do, we'll strive to make that data public, so we're no the only ones who can learn from it.
<p>
We use standard methods (<a href="https://en.wikipedia.org/wiki/HTTP_cookie">cookies</a>, <a href="https://en.wikipedia.org/wiki/Web_storage">web storage</a>) to store information in your browser, such as your user session key, your preferred user interface language, or drafts of information you've not published yet.
<p>
We may be required to respond to legal requests for user information (e.g., due to a subpoena). In those cases, we will notify you wherever reasonable, and will resist requests we consider to be invalid.

<h3 id="conduct">Conduct and content policy</h3>

Moderators (most likely volunteers like yourself) may temporarily or permanently ban users for posting inappropriate or illegal content, harassment, potentially libelous content, abuse, and trolling. We won't try to define these terms precisely in this document &mdash; but we will outline some broad principles. Over time we may reference some precedent decisions as appropriate (you may consider this a <a href="https://en.wikipedia.org/wiki/Common_law">common law</a> approach to policy).
<p>
The headline here is that we believe that in order to be welcoming and open as a community, and to get good work done, we need to commit to a set of shared principles &ndash; and turn away folks who can't or don't want to follow these principles.
<p>
<b>Discretionary responses:</b> Not every violation of these terms may result in a permanent block. Temporary suspension of some privileges or time-limited bans are also a possibility. We will try to  be consistent and fair, but moderators have a degree of individual discretion, as well.
<p>
<b>Harassment:</b> We take any form of harassment of other users seriously. That includes  personal attacks that might not be considered grounds for banning on other sites, as well as unwanted sexual advances. We don't want to create filter bubbles, where every user has to make sure they only interact with users they can get along with. Instead, we want to make sure that the site as a whole is a place you'll enjoy visiting. It's also not okay to attempt to identify a user who has chosen to remain pseudonymous outside of the scope of an official abuse investigation.
<p>
<b>Hatred:</b> If you hate black people, white people, Asian people, fat people, skinny people, women, men, gays, heteros, people who are or aren't transgendered, Jews, Muslims, Christians, atheists, or any <i>group</i> of sentient beings without distinction, you'll either have to leave that at the door or we can't have you here. It's fine to criticize ideas, and indeed we support forming groups around topics like "anti-nuclear power" or "pro-nuclear power". But we will never tolerate the use of this platform to spread hatred.
<p>
<b>Libel:</b> Since we allow reviews of absolutely anything, there will be situations where individuals may be motivated to post false information in order to discredit someone or something. Similarly, there will be situations where people will be motivated to claim that true information is libelous. This is difficult terrain, and we will generally try to resolve these things by supporting dialogue and building various trust/reputation features into the site. However, upon reviewing a specific case, moderators may take down a review if it is deemed likely to be false and defamatory.
<p>
<B>Self-promotion and spamming:</b> This site isn't a place to promote something you've made yourself or are intimately involved with. We do encourage you to add metadata about your product/business/website/etc., as we add support for it to the site. It's also fine to review competitors' products and services, as long as you disclose any conflict of interest clearly in your review. And we ask you to respond to reviews which you think are inaccurate. Spamming constitutes abuse (see below) and will be dealt with accordingly.
<p>
<b>Abuse:</b> lib.reviews has a pretty clear and obvious site purpose, and if users systematically use it for another purpose or deliberately tamper with it, this is grounds for a ban and potentially escalation to legal authorities in severe cases.
<p>
<b>Illegal content and behavior:</b> You can't post any content that would be illegal to distribute under United States law, and we may be legally and morally obligated to report such uses to the authorities in certain cases. In the case of sexually explicit content, we will draw the line more strictly than the law does: any sexually explicit content involving minors is off-limits. Similarly, you're not permitted to perform actions on the site that are illegal under United States law.
<p>
<b>Reviews <i>of</i> illegal content, products or services:</b> When reviewing products or services that clearly target a specific jurisdiction where they're legal (e.g., a marijuana dispensary in a location that permits such sales), you're allowed to post reviews. For online content that's illegal in the US (e.g., a warez site), or services that are illegal where they're advertised (e.g., "escort" services in most US states), you're not allowed to post reviews since they could be seen as wayfinders for breaking the law. At the same time, in legally ambiguous cases (e.g., a controversial website like Wikileaks), we will aim to err on the side of free speech.
<p>
<b>Sexually explicit content, shocking content:</b> We strive to serve people of all ages, which means that we want to identify content targeting adults clearly as such. So, if you feel sexually explicit content not otherwise forbidden in this document is appropriate in a given context, we'll ask you to flag it as such (or moderators may do it for you). We may also flag content that is graphic/shocking in other ways.
<p>
<b>Humans are not products:</b> We don't permit reviews of individual human beings (reviewing business entities operated by only one person is fine). So you can't write a review of your neighbor, or your teacher, or your boss. This is because we believe it's very difficult to protect people's dignity and reputation once you cross that line.
<p>
<b>Data download and data mining:</b> As long as you follow the license (see below), don't use data for purposes otherwise forbidden in this document, and don't make excessive use of our system resources, you're okay. :-)
<p>
<b>Trolling:</b> We don't tolerate users who get joy out of making others miserable, wasting other people's time, or causing disruption for its own sake. Such users may attempt to follow the letter of the above guidelines, while violating their spirit. This paragraph is here to say clearly that moderators have discretion to ban users in such cases.
<p>


<h3 id="licensing">Licensing</h3>

The name "lib.reviews" references the <a href="https://en.wikipedia.org/wiki/Gratis_versus_libre">gratis versus libre</a> distinction. The work we do here is intended to be shared and built upon, and to be available to the world indefinitely. As a consequence, whether explicitly stated in every context or not, by publishing information through this site you agree to do it under appropriate <a href="http://freedomdefined.org/Definition">free licenses</a>. We've settled on the following licenses:

<ul>
  <li>The text of reviews and posts (comments, blog posts, etc.) published through this platform is available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution/Share-Alike License</a>, the license used by <a href="https://www.wikipedia.org/">Wikipedia</a>. That means that if you want to re-use this content, you have to credit the authors by username next to their specific contributions. We recommend linking the name to their profile on this site, so the attribution is exact even in cases of pseudonyms or common names. (Beyond this, you're not required to mention lib.reviews itself, though it's nice if you do!)  If you modify the content, your modifications/additions need to also be made available under this license, a principle known as copyleft.
  <li>As we add metadata to the things that are being reviewed (e.g., the hours during which a business is open), that data is available primarily under the <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC-0</a> license (the license used by <a href="https://wikidata.org/">Wikidata</a>; equivalent to the public domain &mdash; "do whatever you want with this data"). The exception is data imported from external sources under other free licenses that may require attribution and/or copyleft. In those cases, specific licensing requirements will be noted in both human-readable and machine-readable form.
  <li>The software (including static text pages like this one which are part of the software) is also under the CC-0 license, except for external open source libraries that may be under different licenses, which will be clearly indicated in the source code repository.
</ul>

Users may include images and other media in their reviews and posts, and those images may not always be their own work. Given the noncommercial nature of this site, we consider many typical uses of such external web content <a href="https://en.wikipedia.org/wiki/Fair_use">fair use</a>, but we will generally take down content if a copyright owner makes a plausible claim. If you intend to make commercial use of content on this site, you may need to apply additional scrutiny to ensure that fair use still applies.

<h3 id="versions">Version history</h3>

<ul><li>July 2016: First version posted</li></ul>
