<div class="long-text">
  <h1 id="page-header">Conditions d'utilisation</h1>
  <p>Bienvenue ! Ces conditions d’utilisation sont écrites délibérément dans un langage lisible et non juridique. Veuillez les parcourir&#160;! Elles sont faites pour améliorer votre expérience et vous aider à comprendre notre philosophie et nos valeurs.
    Si vous pensez qu’elles peuvent être améliorées, n’hésitez pas à proposer une modification. Vous pouvez remplir un <a rel="nofollow" class="external text" href="https://github.com/eloquence/lib.reviews/issues">ticket GitHub</a>, ou suggérer la modification
    <a rel="nofollow" class="external text" href="https://translatewiki.net/wiki/Translating:Lib.reviews/Terms_of_use">sur TranslateWiki.net</a>, où cette page est maintenue et traduite. </p>
  <div id="Confidentialit.C3.A9"></div>
  <h2 id="privacy"><span class="mw-headline" id="Confidentialité">Confidentialité</span></h2>
  <p>Nous stockons les journaux des visiteurs pendant 90 jours. Ces journaux contiennent typiquement une ligne pour chaque requête (pour une page, une image, une API, etc.). Chaque ligne contient des informations telles que l’adresse IP, l’URL, les données
    de l’agent utilisateur (votre navigateur et son numéro de version), les informations du référent, et d’autres données standards que votre navigateur envoie quand vous visitez n’importe quel site web. </p>
  <p>Afin d’améliorer le site, nous pouvons collecter des journaux supplémentaires qui listent les actions d’utilisateurs en les rendant anonymes (par exemple, combien de personnes ont cliqué sur un bouton donné). Si nous le faisons, nous nous efforcerons
    de rendre ces données publiques, afin de ne pas être les seuls à pouvoir en bénéficier. </p>
  <p>Nous utilisons des méthodes standards (<a rel="nofollow" class="external text" href="//fr.wikipedia.org/wiki/Cookie_(informatique)">cookies</a>, <a rel="nofollow" class="external text" href="//fr.wikipedia.org/wiki/Stockage_web_local">stockage web local</a>)
    pour stocker des informations dans votre navigateur, telles que votre clé de session utilisateur, votre langue d’interface préférée ou les informations ébauchées que vous n’avez pas encore publiées. </p>
  <p>Nous pourrions être amené à devoir répondre aux demandes légales d’informations qui concernent un utilisateur (par exemple une injonction judiciaire). Dans de tels cas, nous vous avertirons autant que cela est possible et nous résisterons aux demandes
    que nous considérons comme non valides. </p>
  <p>Nous ne monétisons pas nos utilisateurs. Nous ne vous montrons pas de publicité, ni ne vendons ou partageons vos données personnelles avec quiconque (à moins d’y être légalement obligé, comme noté ci-dessus), ni n’utilisons des services traceurs ou
    analytiques gérés par des tiers. </p>
  <div id="R.C3.A8gles_concernant_la_conduite_et_le_contenu"></div>
  <h2 id="conduct"><span class="mw-headline" id="Règles_concernant_la_conduite_et_le_contenu">Règles concernant la conduite et le contenu</span></h2>
  <p>Nous croyons qu’afin de rester accueillant et ouvert, et de voir du bon travail réalisé, notre communauté a besoin de rester saine et attachée à un ensemble de principes partagés de base, dont certains sont décrits dans ce document comme des politiques.
    D’autres sites ne renforcent leurs politiques que lorsque des utilisateurs se plaignent avec assez de véhémence et ils laissent les utilisateurs créer leurs propres «&#160;bulles de filtrage&#160;» pour n’interagir qu’avec ceux avec qui ils sont d’accord.
    Nous ne pensons pas que cela conduise à des communautés saines et nous nous efforcerons d’appliquer ces politiques de manière consistante pour tous. </p>
  <p>Nos règles essentielles de comportement sont les suivantes&#160;: </p>
  <p><b>Harcèlement&#160;:</b> nous prenons le harcèlement très au sérieux. Cela signifie que nous ne tolérons aucune attaque personnelle envers les autres, aucune agression ou menace, aucune avance sexuelle indésirée, ni aucune révélation d’informations
    personnelles ou de la vie privée des autres. </p>
  <p><b>Haine&#160;:</b> si vous haïssez les noirs, les blancs, les asiatiques, les obèses, les maigres, les femmes, les hommes, les gays, les lesbiennes, les hétéros, les gens qui sont ou ne sont pas transgenres, les juifs, les musulmans, les chrétiens,
    les bouddhistes, les athées, les enfants, les jeunes, les adultes, les vieux, les valides, les malades, les handicapés, ou quelque groupe d’être conscients que ce soit, vous devrez soit laisser ces ressentiments en dehors de ce site, ou nous ne pourrons
    vous accepter. Il n’y a aucun problème à opposer, critiquer ou défendre les idées, et nous soutenons la formation de groupes autour de sujets tels que «&#160;antinucléaire&#160;» ou «&#160;pronucléaire&#160;». Mais nous ne tolérerons jamais l’usage
    de cette plateforme pour répandre la haine. </p>
  <p><b>Diffamation&#160;:</b> étant donné que nous permettons l’examen d’absolument tout, des situations apparaîtront dans lesquelles des individus essaieront de poster des informations fausses dans le but de discréditer quelqu’un ou quelque chose. Et inversement,
    il y aura des situations dans lesquelles des gens essaieront de faire passer des informations vraies pour de la diffamation. Il là s’agit d’un terrain difficile et nous essaierons en général de résoudre ces situation en encourageant le dialogue et
    en construisant différentes fonctionnalités de confiance et de réputation sur ce site. Néanmoins, en attendant l’examen d’un cas spécifique, les modérateurs pourront enlever une revue si elle semble être fausse ou diffamatoire. </p>
  <p><b>Auto-promotion et spam&#160;:</b> ce lieu n'est pas destiné à promouvoir quoi que ce soit que vous avez fait vous-même ou avec lequel vous entretenez des liens étroits. Nous vous encourageons à ajouter des méta-données à votre produit/commerce/site
    web/etc., au fur et à mesure que nous le supportons sur ce site. Il est légitime de relire les produits et les services de vos concurrents, tant que vous mentionnez ouvertement tout conflit d’intérêt dans votre revue. Et nous vous demandons de répondre
    aux revues que vous pensez inexactes. Le spam constitue un abus (voir ci-dessous) et sera traité en tant que tel. </p>
  <p><b>Abus&#160;:</b> lib.reviews a une finalité assez claire et évidente, mais si des utilisateurs l’utilisent à d’autres fins de façon systématique ou tentent délibérément de l’altérer, ceci constituera les fondements pour leur bannissement et pour potentiellement
    en référer aux autorités judiciaires dans des cas sévères. </p>
  <p><b>Contenu ou comportement illégal&#160;:</b> vous ne pouvez publier aucun contenu dont la distribution serait illégale selon la loi des États-Unis d’Amérique et nous pourrions être légalement et moralement obligé de signaler de telles utilisations
    aux autorités dans certains cas. Dans le cas des contenus à caractère sexuel explicite, nous tracerons la ligne de façon plus stricte que ce qu’autorise la loi&#160;: tout contenu à caractère sexuel explicite et impliquant des personnes mineures dépasse
    cette limite. De même, vous n’êtes pas autorisé à effectuer des actions sur le site qui soient illégales selon la loi des États-Unis d’Amérique. </p>
  <p><b>Revues des contenus, produits ou services illégaux&#160;:</b> la revue de produits ou services ciblant clairement une juridiction où ils sont légaux (par exemple un dispensaire de marijuana dans un lieu qui permet de telles ventes) convient complètement.
    Pour les contenus en ligne qui sont illégaux aux États-Unis (par exemple un site <i>warez</i>), ou pour les services qui sont illégaux s’il en est fait publicité (par exemple les services «&#160;d’escorte&#160;» dans la plupart des États américains),
    vous n’êtes pas autorisé à en publier des revues puisqu’elles pourraient être vues comme des guides ou des conseils destinés à outrepasser la loi. Dans le même temps, dans des cas légalement ambigus (par exemple un site controversé tel que Wikileaks),
    nous viserons à rester du côté de la liberté de parole. </p>
  <p><b>Contenu choquant ou sexuellement explicite&#160;:</b> nous nous efforçons de servir des personnes de tous âges, ce qui signifie que nous voulons identifier clairement comme tel tout contenu visant les adultes. Aussi, si vous sentez qu’un contenu
    sexuellement explicite, qui ne serait pas interdit par ailleurs dans ce document, n’est approprié que dans un contexte particulier, nous vous demanderons de le marquer clairement comme tel (ou des modérateurs pourraient le faire pour vous). Nous pourrions
    également marquer d’autres façons tout contenu qui serait particulièrement choquant ou dont la crudité heurterait la sensibilité de publics non préparés à y être exposés, afin de pouvoir les protéger selon leurs désirs et selon la responsabilité légale
    de leurs tuteurs. </p>
  <p><b>Les humains ne sont pas des produits&#160;:</b> nous ne permettons pas la critique des agissements humains individuels (la revue des prestations d’entités commerciales gérées par une seule personne est louable). Vous ne pouvez donc pas écrire une
    appréciation sur votre voisin, ou votre professeur, ou votre directeur. Ceci parce que nous croyons qu’il est très difficile de protéger la dignité et la réputation dès que cette ligne est franchie. </p>
  <p><b>Harcèlement&#160;:</b> nous ne tolérons pas les utilisateurs qui tirent leur joie en rendant malheureux les autres, en leur faisant perdre leur temps, ou en causant des perturbations pour leur propre satisfaction. De tels utilisateurs devraient essayer
    de suivre à la lettre les règles ci-dessus, en même temps qu’ils violent leur esprit. Ce paragraphe est ici pour dire clairement que, dans ces situations, les modérateurs ont la possibilité d’exclure ces utilisateurs à discrétion. </p>
  <p>Si vous contrevenez à nos règles, les modérateurs du site (dont la plupart sont des volontaires comme vous) peuvent vous bannir temporairement ou définitivement, ou bien peuvent suspendre temporairement certains de vos privilèges. Nous nous efforcerons
    de rester équitable et consistants envers tout le monde, mais nous accordons aussi aux modérateurs un certain degré de liberté pour faire appliquer ces règles. Au cours du temps, nous pourrions référencer certaines décisions précédentes comme appropriées
    (vous pouvez considérer ceci comme une approche de loi commune concernant cette politique). </p>
  <p>De nombreux sites incluent des termes concernant également le téléchargement, le furetage ou le croisement des données, en restreignant les téléchargements, le grattage et diverses autres réutilisation des données. Au contraire, les informations publiées
    sur lib.reviews sont destinées à être réutilisées&#160;! Aussi longtemps que vous suivrez les conditions la licence (voir ci-dessous), que vous n’utiliserez pas les données dans des fins explicitement interdites dans ce document et que vous n’utiliserez
    pas de façon excessive les ressources de notre système, on ne pourra rien vous reprocher. <b>:-)</b> </p>
  <h2 id="licensing"><span class="mw-headline" id="Licences">Licences</span></h2>
  <p>Le mot «&#160;libre&#160;» dans le nom «&#160;lib.reviews&#160;» fait référence à la distinction <a rel="nofollow" class="external text" href="https://en.wikipedia.org/wiki/Gratis_versus_libre">gratuit contre libre</a>. Le travail que nous effectuons
    ici est destiné à être partagé pour servir de base et bâtir d’autres choses, et à être rendu disponible au monde entier indéfiniment. Par conséquent, que ce soit ou ne soit pas explicitement indiqué dans chaque contexte, lorsque vous publiez des informations
    sur ce site, vous acceptez de le faire sous les <a rel="nofollow" class="external text" href="https://freedomdefined.org/Definition/fr">licences libres</a> appropriées. Nous travaillons sous les licences suivantes&#160;: </p>
  <ul>
    <li> Le texte des revues et contributions (commentaires, articles de blogue, etc.) publiées au moyen de cette plateforme est rendu disponible selon les termes de la <a rel="nofollow" class="external text" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">License Creative Commons Attribution - Partage dans les Mêmes Conditions 4.0 International (CC BY-SA 4.0)</a>,
      la même license utilisée par <a rel="nofollow" class="external text" href="https://www.wikipedia.org/">Wikipédia</a>. Ceci signifie que si vous désirez réutiliser ce contenu, vous devez en créditer les auteurs par leur nom d'utilisateur à côté de
      leur contributions spécifiques. Nous recommandons de lier ces noms à leur profil sur ce site, afin que les attributions soient exactes dans le cas de pseudonymes ou d’homonymes fréquents. (Au delà de ceci, vous n’êtes pas obligé de mentionner <i>lib.reviews</i>      lui-même, bien que ce soit <i>sympa</i> de le faire&#160;!) Si vous modifiez ces contenus, vos modifications/additions doivent être rendues disponibles sous cette licence, un principe connu comme <i>copyleft</i>.</li>
  </ul>
  <ul>
    <li> Lorsque nous ajoutons des métadonnées aux choses passées en revue (par exemple les heures durant lesquelles un service est ouvert), ces données sont rendues disponibles selon les termes de la <a rel="nofollow" class="external text" href="https://creativecommons.org/publicdomain/zero/1.0/deed.fr">Licence Creative Commons Transfert dans le Domaine Public (CC0 1.0 universel)</a>      (la licence utilisée par <a rel="nofollow" class="external text" href="https://www.wikidata.org/">Wikidata</a>&#160;; équivalente au domaine public — «&#160;faites ce que vous voulez avec ces données&#160;»). L’exception est que les données importées
      de sources externes peuvent être sous d’autres licences libres qui requièrent l’attribution et/ou le <i>copyleft</i>&#160;: dans ces cas-là, des conditions de licence spécifiques seront notées aussi bien dans leur présentation lisible par l’homme
      que sous la forme lisible par une machine.</li>
  </ul>
  <ul>
    <li> Le logiciel (y compris les pages de texte statique comme celle-ci qui fait partie du logiciel) est aussi sous licence <a rel="nofollow" class="external text" href="https://creativecommons.org/publicdomain/zero/1.0/">CC-0</a>, sauf les bibliothèques
      externes en code source ouvert qui peuvent être sous différentes autres licences, ce qui sera clairement indiqué dans le dépôt du code source.</li>
  </ul>
  <p>Les utilisateurs peuvent inclure des images et d’autres médias dans leurs revues et articles, et ces contenus pourraient de pas toujours être leur propre travail. Étant donné la nature non commerciale de ce site, nous considérons que de nombreuses utilisations
    typiques de tels contenus d’origine externe constituent un usage loyal (<a rel="nofollow" class="external text" href="https://fr.wikipedia.org/wiki/Fair_use"><i>fair use</i></a>), mais nous ôterons généralement ces contenus si un titulaire légitime
    des droits d’auteur fait une réclamation plausible. Si vous souhaitez faire une utilisation commerciale des contenus de ce site, vous pourriez avoir besoin d’effectuer une scrutation supplémentaire pour vous assurer que le <i>fair use</i> s’appliquera
    encore à votre utilisation. </p>
  <h2 id="versions"><span class="mw-headline" id="Historique_des_versions">Historique des versions</span></h2>
  <p>1<sup>er</sup> août 2016&#160;: première version publiée </p>
  <p>4 août 2017&#160;: modifications mineures de copies, importées dans TranslateWiki </p>
</div>
