<div class="long-text">
<h1 id="page-header">Nutzungsbedingungen</h1>

Willkommen! Diese Nutzungsbedingungen sind absichtlich in nicht-juristischer, allgemeinverständlicher Form geschrieben. Bitte lies sie dir kurz durch. Sie sind dazu da, diese Website benutzerfreundlicher zu machen und unsere Philosophie und Werte zu erklären. Wenn du Verbesserungsbedarf siehst, schick uns bitte einen "Pull Request" (<a href="https://help.github.com/articles/editing-files-in-another-user-s-repository/">das ist ohne spezielle Software möglich</a>), am besten für die <a href="https://github.com/eloquence/lib.reviews/blob/master/views/multilingual/terms-en.hbs">englischsprachige Version</a>.

<h2 id="privacy">Privatsphäre</h2>

Wir speichen Besucherprotokolle bis zu 90 Tage lang. Diese Protokolle beinhalten typischerweise eine Zeile pro Anfrage (nach einer Seite, einem Bild, einer API, usw.). Jede Zeile beinhaltet Infos wie die IP-Adresse, URL, Benutzeragent (Browser und Versionsnummer), Referrer-Informationen und andere Standarddaten, die dein Web-Browser bei jedem Besuch einer Website sendet.
<p>
Wir werden manchmal weitere anonymisierte Protokolle von Benutzeraktionen anlegen (z.B. um zu protokollieren, wie viele Menschen einen bestimmten Button angeklickt haben), um die Website zu verbessern. In solchen Fällen werden wir uns bemühen, diese Daten öffentlich zu machen, so dass wir nicht die einzigen sind, die davon lernen können.
<p>
Wir benutzen Standardmethoden (<a href="https://de.wikipedia.org/wiki/HTTP-Cookie">Cookies</a>, <a href="https://de.wikipedia.org/wiki/Web_Storage">Web Storage</a>), um Informationen in deinem Browser zu speichern, z.B. deinen Sitzungsbezeichner, deine bevorzugte Sprache, oder Entwürfe von Informationen, die du noch nicht veröffentlich hast.
<p>
Es kann sein, dass wir aus rechtlichen Gründen Anfragen nach Benutzerinformationen beantworten müssen. In solchen Fällen werden wir dich wann immer angemessen benachrichtigen, und wir werden Anfragen, die wir als ungültig betrachten, widersprechen.
<p>
Wir machen unsere Benutzer nicht zu Geld. Wir zeigen dir keine Werbung und verkaufen oder teilen deine privaten Daten nicht (es sei denn wir müssen es wie oben beschrieben aus rechtlichen Gründen tun). Wir verwenden keine von Dritten betriebenen Dienste, um deine Bewegungen auf dieser Website zu verfolgen oder zu messen.

<h2 id="conduct">Regeln für Verhalten und Nutzerinhalte</h2>

Wir glauben, dass wir, um eine offene und freundliche Gemeinschaft zu bleiben, und um produktiv zusammen arbeiten zu können, ein positives Arbeitsklima fördern und uns auf einige zentrale Prinzipien verständigen müssen. Einige dieser Prinzipien sind in in diesem Dokument als Regeln festgehalten.
<p>
Manche Websites setzen Regeln nur dann durch, wenn sich Nutzer laut genug beschweren. Sie überlassen es ihren Nutzern, ihre eigenen "Informationsblasen" zu kultivieren und nur mit Nutzern zu interagieren, mit denen sie gut auskommen. Wir glauben nicht, dass dies zu gesunden Benutzergemeinschaften führt und werden uns deshalb bemühen, in der Durchsetzung dieser Regeln konsistent zu sein.
<p>
Es folgen unsere wichtigsten Verhaltensregeln:
<p>
<b>Belästigung:</b> Wir nehmen Belästigung sehr ernst.. Das bedeutet: keine persönlichen Angriffe, kein Mobbing, keine Bedrohungen, keine ungewollten sexuellen Annäherungen, kein Outing oder <a href="https://de.wikipedia.org/wiki/Doxing">Doxing</a>.
<p>
<b>Hass:</b> Wenn du Schwarze, Weiße, Asiaten, Dicke, Dünne, Frauen, Männer, Heteros, Menschen die Trasgender sind oder nicht, Juden, Muslime, Christen, Atheisten oder irgendeine andere Gruppe von empfindungsfähigen Lebewesen hasst, musst du dies entweder für dich behalten oder du kannst nicht Mitglied in dieser Benuterzgemeinschaft sein. Es ist total okay, Ideen zu kritisieren, und wir unterstützen auch die Bildung von Gruppen, die sich mit Themen wie "für Atomkraft" oder "gegen Atomkraft" identifizieren. Aber wir werden niemals die Nutzung dieser Plattform für die Verbreitung von Hass tolerieren.
<p>
<b>Verleumdung:</b> Da wir Rezensionen aller möglichen Dinge erlauben, wird es Situationen geben, in denen Individuen motiviert sind, falsche Informationen zu veröffentlichen, um jemanden oder etwas zu diskreditieren. Im Umkehrschluss wird es Situationen geben, in denen Individuen motiviert sind, zu behaupten, dass akkurate Informationen verleumderisch sind.
<p>
Dies ist ein komplexes Problemfeld und wir werden uns allgemein bemühen, solche Dinge durch Dialog und durch Software-Funktionen für Vertrauen/Reputation zu lösen. Nach Prüfung eines bestimmten Falls kann es jedoch sein, dass Moderatoren eine Rezension löschen, wenn der Inhalt letztendlich als wahrscheinlich falsch and diffamierend beurteilt wird.
<p>
<b>Selbst-Vermarktung und Spam:</b> Dies ist nicht der Ort, um etwas zu vermarkten, was du selbst gemacht hast oder mit dem du direkt involviert bist. Wir ermutigen dich, Metadaten über dein Produkt, dein Geschäft, deine Website usw. einzutragen, insofern dafür die Software-Unterstützung vorhanden ist.
<p>
Es ist auch in Ordnung, die Produkte und Dienstleistungen von Konkurrenten zu rezensieren, so lange du deinen Interessenkonflikt in deiner Rezension offen legst. Wir bitten dich auch, auf Rezensionen, die du für inakkurat hältst, zu antworten. Spamming ist eine Form von Missbrauch (siehe unten) und wir werden entsprechend darauf reagieren.
<p>
<b>Missbrauch:</b> lib.reviews hat einen ziemlich eindeutigen und offensichtlichen Anwendungszweck. Wenn Nutzer die Website systematisch für andere Zwecke verwenden oder sich an Systemen zu schaffen machen, ist dies Grund für eine Sperre und im Extremfall für Eskalation an die zuständigen Behörden.
<p>
<b>Illegale Inhalte und Verhalten:</b> Du kannst keine Inhalte veröffentlichen, die nach US-Gesetzgebung verboten sind. Wir können uns in manchen Fällen rechtlich und moralisch gezwungen sehen, solche Nutzungen den Behörden zu melden. Im Fall sexuell expliziter Inhalte ziehen wir eine klarere Linie als es die Gesetzgebung tut: jegliche sexuelle Inhalte, die Minderjährige beinhalten, sind nicht erlaubt. Es ist ebenso verboten, über diese Website Handlungen zu koordinieren, die nach US-Gesetzgebung verboten sind.
<p>
<b>Rezensionen illegaler Inhalte, Produkte und Dienstleistugen:</b> Für Online-Inhalte, die in den USA illegal sind (z.B. Warez-Seiten) oder Dienstleistungen die dort illegal sind, wo sie beworben werden (z.B. "Eskort"-Dienste in den meisten US-Staaten), darfst du auch keine Rezensionen veröffentlichen, da sie als Hinweise zur Rechtsbrechung beurteilt werden könnten.
<p>
Rezensionen von Dienstleistungen, die klar auf eine Jurisdiktion abzielen, innerhalb der sie legal sind (z.B. ein Marihuana-Anbieter in einer Stadt, in der dies zulässig ist) sind vollständig erlaubt. In rechtlich unlkaren Situationen (z.B. kontroverse Websites wie Wikileaks) werden wir uns bemühen, für freie Meinungsäußerung einzutreten.
<p>
<b>Sexuell explizite Inhalte und schockierende Inhalte:</b> Wir möchten Menschen aller Altersgruppen dienlich sein, was bedeutet, dass wir Inhalte, die für Erwachsene gedacht sind, klar kennzeichnen wollen. <p>
Wenn du der Meinung bist, dass sexuell explizite Inhalte, die nicht anderweitig durch in diesem Dokument verboten sind, in einem spezifischen Kontext angemessen sind, bitten wir dich darum, sie als solche zu kennzeichnen (oder die Moderatoren werden es für dich tun). Wir werden ggf. auch Inhalte kennzeichnen, die in anderer Hinsicht grafisch oder schockierend sind.
<p>
<b>Menschen sind keine Produkte:</b> Wir verbieten die Bewertung individueller Menschen (Bewertung von Geschäften, die von einer Person betrieben werden, ist in Ordnung). Du kannst also keine Rezension deines Nachbarn, deines Lehrers oder deines Chefs schreiben. Diese Regel existiert, weil wir glauben, dass es sehr schwer ist, die Würde und Reputation von Menschen zu schützen, sobald diese Linie überschritten ist.
<p>
<b>Trolling:</b> Wir tolerieren Nutzer nicht, die Spaß daran haben, andere unglücklich zu machen, deren Zeit zu verschwenden, oder Störung als Selbstzweck zu betreiben. Solche Nutzer mögen versuchen, diesen Regeln im Wortsinne zu folgen, aber gleichzeitig die dahinter stehenden Absichten verletzen. Dieser Absatz ist hier, um klar zu sagen, dass in solchen Fällen Moderatoren nach ihrem Ermessen Nutzer sperren können.
<p>
Wenn du unsere Regeln verletzt, können die Moderatoren (höchstwahrscheinlich Freiwillige wie du selbst) dich vorläufig oder permanent sperren oder spezifische Benutzerrechte aufheben. Wir werden versuchen, konsistent und fair zu sein, aber wir geben unseren Moderatoren auch einen gewissen Ermessensspielraum in der Durchsetzung dieser Regeln. Mit der Zeit werden wir ggf. Präzedenzfälle hier dokumentieren (du kannst dies als einen aus dem <a href="https://de.wikipedia.org/wiki/Common_Law">Common Law</a> entlehnten Ansatz verstehen).
<p>
Viele Websites haben auch Regeln, was as Herunterladen oder die Verarbeitung ihrer Daten angeht und beschränken das Herunterladen, Scraping und andere Daten-Nutzungen. Im Gegensatz sind die Informationen, die auf lib.reviews veröffentlicht werden, für die Weiternutzung gedacht! Solange du der Lizenz folgst (siehe unten), die Daten für Zwecke nutzt, die nicht anderweitig in diesem Dokument verboten sind, und unsere System-Ressourcen nicht exzessiv belastest, ist alles okay. :-)

<h2 id="licensing">Lizensierung</h2>

Der Name "lib.reviews" bezieht sich auf die Unterscheidung zwischen <a href="https://en.wikipedia.org/wiki/Gratis_versus_libre">frei (libre) und kostenlos</a>. Unsere Arbeit ist für die Verteilung und Weiternutzung gedacht, und es ist unsere Absicht, sie der Welt unbeschränkt zur Verfügung zu stellen. Als Konsequenz daraus stimmst du durch Veröffentlichung von Informationen auf dieser Website ihrer Verbreitung under angemessenen <a href="http://freedomdefined.org/Definition">freien Lizenzen</a> zu, egal ob dies explizit in jedem Kontext hervor gehoben wird oder nicht. Wir haben uns auf die folgenden Lizenzen festgelegt:

<ul><p>
  <li>Der Text von Rezensionen und Beiträgen (Kommentaren, Blog-Beiträgen, usw.), der auf dieser Plattform veröffentlicht wird, steht unter der <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution/Share-Alike License</a> (Namensnennung - Weitergabe unter gleichen Bedingungen); die von <a href="https://www.wikipedia.org/">Wikipedia</a> verwendete Lizenz.
  <p>Das bedeutet, dass du bei der Weiterverwendung der Inhalte den Benutzernamen der Autoren neben ihren Beiträgen nennen musst. Wir empfehlen, den Namen auf das Profil auf dieser Website zu verlinken, damit die Namensnennung auch im Falle von Pseudonymen und verbreiteten Namen exakt ist. (Darüber hinaus bist du nicht dazu verpflichtet, lib.reviews zu erwähnen, auch wenn es nett ist, wenn du es tust!)
  <p>
  Wenn du die Inhalte veränderst, musst du deine Veränderungen/Ergänzungen ebenfalls unter dieser Lizenz verfügbar machen, ein als Copyleft bekanntes Prinzip.
  <li>Wenn wir Metadaten zu den Dingen hinzufügen, die wir rezensieren (z.B. Geschäftsöffnungszeiten), machen wir diese Daten unter der <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC-0</a>-Lizenz verfügbar (die von <a href="https://wikidata.org/">Wikidata</a> verwendete Lizenz; äquivalent zur Gemeinfreiheit &mdash; "mach mit diesen Daten, was du möchtest").
  <p>
  Ausnahmen bilden solche Daten, die aus externen Quellen importiert wurden und unter freien Lizenzen stehen, die Namensnennung oder Copyleft erfordern. In solchen Fällen werden wir spezifische Lizenzanforderungen sowohl in menschenlesbarer auch als in maschinenlesbarer Form kenntlich machen.
  <li>Die Software (inklusive statischer Seiten wie dieser, die Bestandteil der Software sind) steht ebenfalls unter der CC-0-Lizenz, mit Ausnahme von Open-Source-Bibliotheken, die unter anderen Lizenzen stehen und in der Versionsverwaltung klar gekennzeichnet sind.
</ul>

Nutzer dürfen Bilder und andere Medien in ihre Rezensionen und Beiträge einbetten, und solche Medien werden nicht immer ihre eigenen Werke sein. Da diese Website nichtkommerzielle Absichten hat, betrachten wir viele solche Nutzungsformen von externen Web-Inhalten als <a href="https://de.wikipedia.org/wiki/Fair_Use">fair use</a>, aber wir werden im Allgemeinfall Inhalte löschen, wenn ein Urheber plausible Ansprüche geltend macht. Wenn du Inhalte diser Website kommerziell nutzen möchtest, musst du ggf. genauer prüfen, ob es sich immer noch um Fair Use handelt.

<h2 id="versions">Versionsgeschichte</h2>

<ul><li>1. August 2016: Erste Version veröffentlicht</li></ul>
</div>
