<div class="long-text">
  <h1 id="page-header">使用条款</h1>

  <p>欢迎！这些使用条款谨慎地以不遵守法律、人性化的语言书写。请在这里兜个风！它们给您更好的体验，并帮助您了解我们的哲学与价值。如果您认为它们可以改进，不要犹豫，赶紧建议更改。您可以提交<a rel="nofollow" class="external text" href="https://github.com/eloquence/lib.reviews/issues">GitHub问题</a>，或在<a rel="nofollow" class="external text" href="https://translatewiki.net/wiki/Translating:Lib.reviews/Terms_of_use">TranslateWiki.net</a>建议更改，此页面就是在这里维护并翻译的。
  </p>
  <div id=".E9.9A.90.E7.A7.81"></div>
  <h2 id="privacy"><span class="mw-headline" id="隐私">隐私</span></h2>
  <p>我们最多存储访问者的日志90天。这些日志代表性地包含每个请求一行（至页面、图片、API等）。当您访问任何网站时，每行内容都包含信息，例如IP地址、URL、用户代理数据（您的浏览器和版本号）、referer信息，以及您的浏览器发送的其他标准数据。 </p>
  <p>我们可能收集额外匿名的用户操作日志（例如多少人点击了特定按钮），来使网站变得更好。如果我们做了，我们会努力让这些数据公开化，这样我们就不是唯一了解它的人。 </p>
  <p>我们使用标准方法（<a rel="nofollow" class="external text" href="https://zh.wikipedia.org/wiki/Cookie">cookie</a>、<a rel="nofollow" class="external text" href="https://zh.wikipedia.org/wiki/%E7%BD%91%E9%A1%B5%E5%AD%98%E5%82%A8">网页存储</a>）在您的浏览器中存储信息，例如您的用户会话密钥，您的首选用户界面语言、或是您尚未发布的信息草稿。
  </p>
  <p>我们可能被要求回应有关用户信息的法律请求（例如因收到传票）。在这些情况中，无论是否合理，我们都会通知您，并将抵抗我们认为无效的请求。 </p>
  <p>我们不会让我们的用户变成通货。我们不向您展示广告，或与任何人销售/分享您的私人数据（除非法律要求这样做，就像上面提到的那样），同样我们也不会使用任何由第三方运营的追踪或分析服务。 </p>
  <div id=".E8.A1.8C.E4.B8.BA.E4.B8.8E.E5.86.85.E5.AE.B9.E6.96.B9.E9.92.88"></div>
  <h2 id="conduct"><span class="mw-headline" id="行为与内容方针">行为与内容方针</span></h2>
  <p>我们相信要使我们更受欢迎、更开放，并完成一项绝佳的工作，我们社群需要健康，并决心成为一套共享的基本原则，其中一些在此文档中明确表达为方针。其他网站有时只在用户强烈要求下才强制实施方针，他们留给用户创建自己的“过滤气泡”，并只与其他志同道合的用户相互作用。我们不认为这会领导社群更健康，并且我们将努力在我们这些方针的应用中保持一致。 </p>
  <p>我们的核心行为方针也遵循： </p>
  <p><b>骚扰：</b>我们严肃地对待骚扰问题。这意味着我们不会容许对其他用户的人身攻击、欺凌或恐吓、不欢迎的性侵犯以及暴露或药物威胁。 </p>
  <p><b>憎恨：</b>如果您恨黑人、白人、亚洲人、肥胖人群、弱小的人、女人、男人、男同性恋、异性恋、似是非是跨性别者、犹太人、穆斯林、基督教徒、无神论者或任何众生人群，您要么从一开始就应当离开，要么我们不能纵容您在这里。我们欢迎批评主意，并且确实我们支持结群讨论例如“反核能”或“支持核能”等话题。但我们永远不会容忍使用该平台传播憎恨。 </p>
  <p><b>诽谤：</b>由于我们绝对允许审查任何事物，这会产生鼓励个别人张贴假信息来怀疑一些人或一些事的状况。相反，也会产生人们鼓励声称精确信息是诽谤的情况。这是比较困难判断的领域，我们将尽其所能，通过支持对话并构建各种信任/声望功能至网站来尝试解决这些事。然而，在以往特例中，如果审查很像是假信息和诽谤，馆长会记下该审查。 </p>
  <p><b>自我推销与垃圾邮件：</b>这里不是用来推销您自己做出的事物（或与之息息相关）的地方。我们奉劝您添加有关您的产品/商务/网站等的元数据，就像我们为网站提供相关支持一样。当然也可以审查竞争对手的产品和服务，只要您在审查中清晰公开任何利益冲突即可。并且我们请求您对您认为不适当的审查提出回应。垃圾邮件只会构成破坏（见下方）并将因此被处理。 </p>
  <p><b>滥用：</b>lib.reviews有非常清晰明确的网站目的，并且如果用户有系统地将其用于其他用途或故意用它篡改什么，这只会是禁止某用户继续参与的理由，并在多个情况下可能上报给执法当局。 </p>
  <p><b>非法内容及行为：</b>您不能张贴/分发任何违反美国法律的内容，并且在某些情况下，我们有义务遵循法律规定和道德底线，来报告这类非法利用行为至当局。在有性暴露内容的情况下，我们会画设比法律更严格的底线：任何涉及未成年人的性暴露内容都属禁止项目。类似的讲，我们不允许您在网站上进行违反美国法律的任何操作。 </p>
  <p><b>非法内容、产品或服务的审查：</b>审查明确指向特定法律管辖权的产品或服务（例如在许可销售地点的大麻药房）完全可以。对于在美国法律中定为违法的内容（例如warez网站），或是只要宣传就违法的服务（例如在美国大多数州的“护送”服务），您不被允许发表审查，因为它们可以视作破坏法律的方向标。同时在法律模糊地带（例如维基解密等有争议的网站），我们将坚守言论自由，即便这确实是在犯罪。 </p>
  <p><b>性暴露内容、暴恐内容：</b>我们努力服务所有年龄段的人，这意味着我们希望识别目标明确指向成人的内容。因此如果您感觉在某种环境中，在这份文档内没有受其他条款禁止的性暴露内容是可以接受的，我们将请求您标记它就是性暴露内容（或者馆长可能为您这样标记）。我们也会以其他方式标记内容为形象/暴恐内容。 </p>
  <p><b>人类不是商品：</b>我们不允许对个人事物的审查（审查只由一个人运营的商务实体则是可以的）。因此您不能撰写您的邻居、您的老师或您的老板的审查。这是因为我们相信，如果您触碰这条底线的话，保护个人尊严以及名誉是很难的。 </p>
  <p><b>钓鱼：</b>我们不能饶恕用户通过制造其他痛苦、浪费其他人的时间或只因自身利益导致破坏来获得快乐。当违反其精神需求时，这类用户可能会尝试关注上方方针的文字。这段文字清楚说明在这类情况下，馆长有权制裁用户，使之被禁止参与本站事务。 </p>
  <p>如果您违反了我们的规则，网站馆长（很可能是与您一样的志愿者）可以临时或无限期地禁止您这样做，或可能临时对某些特权实施停职。我们将尽量保持一致与合理，但我们也给予馆长们一定程度的自由判断能力以便强制执行这些规则。随着时间的过去，我们会适当参考一些先前的决定（您可以将其考虑为接近方针的一般法律）。 </p>
  <p>很多网站都包括有关数据下载及数据挖掘的条款，用以限制下载、废弃及其他形式的数据复用。相比之下，发布在lib.reviews上的信息本来就是要让人重复利用的！只要您遵守下面的许可协议，不要将数据用于在此文档中禁止的目的，并且不过多使用我们的系统资源的话，我们欢迎您使用这些数据。:-) </p>
  <div id=".E8.AE.B8.E5.8F.AF.E5.8D.8F.E8.AE.AE"></div>
  <h2 id="licensing"><span class="mw-headline" id="许可协议">许可协议</span></h2>
  <p>名称“lib.reviews”参考了<a rel="nofollow" class="external text" href="https://en.wikipedia.org/wiki/Gratis_versus_libre">自由与非自由</a>（gratis versus libre）区别。我们在这里工作的目的就是要分享并构建，以及使世界上所有人都能无限地使用。作为重要一点，无论是否在每段上下文中都明确表示，通过该网站发布信息，您同意依据适当的<a rel="nofollow" class="external text"
      href="https://freedomdefined.org/Definition">自由许可协议</a>发布您的贡献。我们选定了以下许可协议： </p>
  <ul>
    <li> 通过该平台发布的修订和张贴的文本（评论、博客文章等）依据<a rel="nofollow" class="external text" href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">知识共享署名-相同方式共享</a>许可协议可用，这是<a rel="nofollow" class="external text" href="https://www.wikipedia.org/">维基百科</a>使用的许可协议。这意味着如果您希望复用这个内容，您需要添加作者署名，只需在其特定贡献中加入用户名即可。我们建议链接用户名至其于本网站的用户详情，这样即便使用的是假名或通用名也能准确署名。（除此之外，您不需要提及lib.reviews本身，虽然我们很高兴您这样做！）如果您修改了内容，您修改/添加的内容也同样需要以该许可协议提供，这是对著佐权原理的尊重。</li>
  </ul>
  <ul>
    <li> 由于我们添加元数据到已审查的事物中（例如商务活动开放期间），这些数据主要依据CC-0许可协议（<a rel="nofollow" class="external text" href="https://www.wikidata.org/">维基数据</a>使用的许可协议）可用；这相当于公有领域——您可以想怎么使用这些数据就怎么使用。例外情况是导入自外部来源的数据，他们依据其他自由许可协议授权，这可能需要署名和/或著佐权。在这些情况中，将以人类可读和机器可读的形式注释特定许可协议要求。</li>
  </ul>
  <ul>
    <li> 软件（包含静态文本页面，就像本页，这也是软件的一部分）也按照<a rel="nofollow" class="external text" href="https://creativecommons.org/publicdomain/zero/1.0/deed.zh">CC-0</a>许可协议授权，除了外部开源库，它们可能遵循不同的许可协议，这会在源代码存储库中清楚的说明。</li>
  </ul>
  <p>用户可能在他们的审查和帖子中包含图片及其他媒体，这些图片可能不总是他们自己的作品。出于本网站非盈利性的环境，我们考虑很多使用这类外部网络内容的典型例子属于<a rel="nofollow" class="external text" href="https://zh.wikipedia.org/wiki/合理使用">合理使用</a>，但当版权持有者提出似是而非的声称时，我们通常将记录下内容。如果您打算商业性使用本网站的内容，您可能需要应用额外的详细审查来确保合理使用仍然应用。 </p>
  <div id=".E7.89.88.E6.9C.AC.E5.8E.86.E5.8F.B2"></div>
  <h2 id="versions"><span class="mw-headline" id="版本历史">版本历史</span></h2>
  <p>2016年8月1日：发布首个版本 </p>
  <p>2017年8月4日：小编修，导入到TranslateWiki </p>
</div>
