/*

We use camelCase for variables and dashes-for-classes, to differentiate
pure CSS from LESS

*/
@errorColor: red;
@warningColor: #ff6600;
@linkColor: #4078c0;
@visitedColor: #002C74;
@infoColor: #ccc;
@headerColor: #414042;
@sideMargin: 2em;

.hidden-regular { // PureCSS has .hidden defined with !important
  display:none;
}

.nav {
  background: #fafafa;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: @sideMargin;
  padding-right: @sideMargin;
  margin-bottom: 1em;
  border-width: 1px;
  border-color: #f2f2f2 ;
  border-bottom-style:solid;
}

.nav h1 {
  margin-bottom:0;
}

#main-body, #footer {
  margin-left: @sideMargin;
  margin-right: @sideMargin;
}

#footer {
  font-size:small;
  margin-bottom:2em;
}

@media print
{
  .no-print
  {
    display: none;
  }
}

#footer a,
#main-body a {
    text-decoration:none;
    color: @linkColor;
}

#footer a:hover,
#main-body a:hover {
    text-decoration:underline;
}

#footer a:visited,
#main-body a:visited {
    color: @visitedColor;
}

body {
    font-family: "Noto Sans", sans-serif;
}

#languages {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2em;
    border-top: 1px solid #e5e5e5;
}

#user-menu {
    margin-top:0px;
    text-align:right;
    list-style-type: none;
}

#user-menu li {
    display: inline-block;
    margin: 0.25em;
}


.text-label {
    font-style: italic;
}
.labelled-text {}

#page-header {
  margin-top: 0px;
  color: @headerColor;
  font-weight: normal;
  font-style: italic;
}

#sub-header {
  margin-top: -0.67em // offset header's margin-bottom
}

.sub-header-regular, #sub-header, .inline-feed-title {
  color: @headerColor;
  font-weight:normal;
  font-style: italic;
}

.inline-feed-title {
  margin-top: 0;
  width:50%; // has additional navigation on the right
  display:inline-block;
  margin-bottom: 0;
}

.view-all-link {
  width:50%;
  text-align: right;
  display: inline-block;
}


#logo {
   width: 400px;
}

.button-rounded {
    border-radius: 4px;
}

#home-link {
    text-decoration: none;
    color: #000;
}

.error {
    color: @errorColor;
}

.warning {
  color: @warningColor;
}

.lead {
    font-size: 130%;
}

.divider {
  width: 100%;
  margin-bottom: 1.5em;
  margin-top: 0;
  border-bottom: 1px solid #e5e5e5;
}

.message-box {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: green;
}

.error-box {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: red;
}

.warning-box {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: @warningColor;
}

.button-cta {
  background: rgb(66, 184, 221); /* this is a light blue */
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-destructive {
  background: #aa3333;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}


label {
  font-weight: bold;
}

a#user-link, a#user-link:visited {
  color: #666;
  text-decoration:none;
}

a#user-link:hover {
  text-decoration:underline;
}

.spaced-icon {
  margin-right:0.4em;
}

.review-icon {
  width: 1.3em;
}

.review {
  max-width: 40em;
}

.star-holder, .star-full {
  padding: 5px;
}

.preview-star  {
  padding: 2px;
}

textarea#review-text {
  height: 12em;
}


#help {
  margin-left:1em;
}

#help, .help-text {
  display: none; /* shown via JS, or overridden in document style when no JS */
  overflow: auto;
  max-height: 25em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  margin-bottom: 1em;
}

.help-heading {
  color: #666;
  font-weight:bold;
}

#review-terms-notice {
  margin-top:1em;
  font-size:small;
}

#register-terms-notice {
  margin-top:1em;
  margin-bottom:1em;
  font-size:medium;
}

.buttons-group {
  text-align: center;
}

#show-extra-fields {
  color: @visitedColor;
  cursor: pointer;
}

#extra-fields, #extra-fields-expanded {
  display: none;
}

label.inline-label {
  display:inline;
  font-weight: normal;
}

label.inline-star-label {
  margin-left:0.5em;
  margin-right:1em;
}

.info-icon {
  color: @infoColor;
}


.validation-error {
  display: none;
  color: red;
}

#helper-links {
  display: none;
}

#freedom-notice {
  float:right;
}

.required {
  color:red;
  font-weight:bold;
  display:none;
}

.long-text {
  max-width: 40em;
  margin:auto;
}

.long-text #page-header{
  text-align:center;
}

.long-text h2 {
  font-weight:normal;
}

a.fragment-link {
  color: #aaa;
  text-decoration:none;
  font-size:medium;
  margin-right:0.5em;
}

#main-body a.fragment-link:visited {
  color: #aaa;
}

#main-body a.fragment-link:hover {
  color: #ccc;
}

#preview-contents {
  margin-bottom: 1em;
  border-style: solid;
  border-width: 1px;
  padding: 1em;
  border-color: #ccc;
  background: #fafafa;
  max-width: 40em;
}

#preview-review-title, #preview-headline, #preview-review-url {
  margin-top: 0;
  font-weight:normal;
}

#preview-review-url, #preview-header {
  text-align: center;
  color: @headerColor;
  font-style: italic;
}

#preview-review-title {
  margin-bottom: 0;
}

a#abandon-draft, a#abandon-draft:visited {
  color: white;
  font-style: normal;
  font-size:small;
}

a#add-review, a#add-review:visited, a#add-review:hover,
a#add-team, a#add-team:visited, a#add-team:hover,
a#add-label, a#add-label:visited, a#add-label:hover,
a#edit-bio, a#edit-bio:visited, a#edit-bio:hover,
a#edit-team, a#edit-team:visited, a#edit-team:hover,
a#write-blog, a#write-blog:visited, a#write-blog:hover,
a#upload, a#upload:visited, a#upload:hover,
{
  color: black;
  font-size: small;
  font-weight: bold;
  text-decoration:none;
  font-style:normal;
}


#preview-review-byline, .review-byline, .blog-post-byline {
  font-size: small;
}

.review-actions, .blog-post-actions {
  font-size: small;
  float: right;
  padding-left: 2px;
  padding-bottom: 2px;
}

.review-teams {
  font-size: small;
}

#preview-review-text h1, .review-text h1 {
  font-size: 1.5em;
  font-weight: normal;
  font-style:italic;
}

#preview-review-text h2, .review-text h2 {
  font-size: 1.25em;
  font-weight: normal;
  font-style:italic;
}

#feed {
  max-width: 40em;
}

hr.feed-separator, hr.team-separator {
  border: 0;
  height: 1px;
  background: #aaa;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.review-star {
  padding: 3px;
}

.review-title {
 font-size: 1.5em;
 font-weight:normal;
}

.feed-item-header {
  font-weight: bold;
}

.stack-trace {
  font-family: monospace;
  white-space: pre-wrap;
}

.review-action, .blog-post-action {
  white-space: nowrap;
}

.delete-preamble {
  margin-bottom:1em;
}

.cancel-link {
  margin-left:1em;
  font-style:italic;
}

.message-button {
  font-size:small;
  font-weight:bold;
}

.message-button-destructive {
  background: #cc3333;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#draft-notice {
  display:none;
}

.language-button {
  font-size:small;
  margin-bottom:0.5em                       ;
}

.inline-form {
  display: inline;
}

.language-identifier, .user-team-badge {
  background: #eee;
  font-size: x-small;
  text-transform: uppercase;
  padding:3px;
  border-radius: 3px;
  vertical-align:middle;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  color:black;
}

.user-team-badge {
  font-weight: bold;
  margin-left: 0.5em;
  border-style: solid;
  border-width:1px;
  border-color:#eee;
  background: #fcfcfc;
}

.user-team-list li, .team-member-list li {
  margin-bottom: 0.5em;
}

.user-label {
  font-weight: bold;
}


.centered-feed {
  max-width: 40em;
  margin: auto;
}

.team-info, .user-info {
  padding-right: 3em;
}

#bio-textarea {
  width: 90%;
  height: 7em;
}

#character-caption {
  font-size: small;
}

#over-maximum-warning {
  color: red;
}

.team-textarea {
  height: 10em;
}

.login-form-input {
  max-width: 30em;
}

.thing-data {
  padding: 0.5em;
  margin-bottom:1em;
  background: #fcfcfc;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
}

.review-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-text {
  clear:right;
}

.pure-g [class *="pure-u"] {
  font-family: "Noto Sans", sans-serif;
}

.team-header {
  margin-bottom:0;
}
.team-motto {
  font-style: italic;
}

.join-textarea-container {
  margin-right:0.5em;
}

.join-textarea {
  width:100%;
  height:6em;
}

.team-rules {
  padding: 0.5em;
  padding-left: 1em;
  margin: 20px 0;
  border-left-style:solid;
  border-left-width: 5px;
  border-left-color: #66a;
}

.team-list {
  max-width: 40em;
}

.blog-post-textarea {
  height: 15em;
}

.reject-request-textarea {
  width: 30em;
  height: 6em;
}

summary.content-warning-notice {
  font-weight: bold;
  cursor: pointer;
}

div.dangerous-content {
  margin-left: 1em;
  display: none;
}

// Override standard caret, since it's not supported by all
// browsers so we have to add our own anyway
summary.content-warning-notice::-webkit-details-marker {
    display: none;
}

summary.content-warning-notice {
  display: inline; // Shrinks focus border on click
}

details.content-warning summary.content-warning-notice:before {
  content: '\f0da';
  font-family: 'FontAwesome';
  padding-right: 5px;
}

details.content-warning[open] summary.content-warning-notice:before {
  content: '\f0d7';
  font-family: 'FontAwesome';
  padding-right: 5px;
}

.indented-control-group {
  margin-left: 2em;
}

.placeholder-width {
  min-width: 100%;
}

#upload-label, #upload-input, #start-upload {
  font-size: small;
}

#upload-input {
  margin-bottom:0.5em;
}

.review-text img {
  max-width: 100%;
}

.invite-button  {
  font-size:small;
}

.invite-button a {
  text-decoration:none;
  color:black;
}
.invite-icon {
  color:#f66;
}
