body {
  margin-left: 2em;
  margin-right: 2em;
  font-family: sans-serif;
}

#languages {
  font-size: small;
}

#languages ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#languages li {
  display: inline;
}
